ion-slides {
  height: 30%;

  div {
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

ion-segment {
  background: #fff;
  border-radius: 0;
  height: 43px;
  --ripple-color: #fff;
  padding: 0 30px 0 30px;
}
ion-segment-button::before {
  display: none;
}
ion-segment-button {
  --background: #fff;
  --background-checked: none;
  --background-hover: none;
  --background-hover-opacity: 0;
  --background-focused: none;
  --background-focused-opacity: 0;
  --border-radius: 20px;
  --border-width: 0;
  --indicator-box-shadow: none;
  --indicator-color: transparent;
  --padding-top: 0;
  --padding-end: 0;
  --padding-bottom: 0;
  --padding-start: 0;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
  flex-basis: 0px;
  flex-direction: row;
  // min-width: 33.33%;
  // min-height: 43px;
  font-size: 15px;
  font-weight: 600;
  line-height: 43px;
  color: #777777;
  border: solid 1px #DBDBDB;
  margin: 5px;
}

.v1.segment-button-checked {
  color: #7938DB;
  border: solid 1px #7938DB;
}

.v2.segment-button-checked {
  color: #7938DB;
  border: solid 1px #7938DB;
}

.v3.segment-button-checked {
  color: #7938DB;
  border: solid 1px #7938DB;
}

.v1Con {
  height: 100%;
  padding: 4px;
}

.v2Con {
  height: 100%;
  padding: 4px;
}

.v3Con {
  height: 100%;
  padding: 4px;
}

ion-list > div {
  white-space: pre-line;
  background: #ffffff;
  padding: 10px 20px 30px 20px;
  color: #161616;
  font-weight: 600;
  font-size: 15px;
  line-height: 28px;
  letter-spacing: -0.28px;
  height: 100%;
  overflow: auto;
}

.conWrap {
  height: calc(100% - 43px - 30%);
  overflow: auto;

  h3{
    text-align: center;
    font-weight: bold;
    color: #000;
  }

  div{
    color: #777777;
  }
}

.top {
  min-height: 52.44%;
}

.wrap {
  height: 100%;
}


.break{
  width: 80%;
  border: solid 1px #EBEBEB;
  margin: 0 auto;
  margin-top:20px;
  text-align: center;
}



.sW1 {
  height: 85%;
  width: 90%;
  overflow: hidden;
  border-radius: 20px;
  background-size: cover !important;
  background-position: center !important;
  padding-top: 5%;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.5);
  background-color: #fff;
  margin: 0 auto;
  margin-top:50px;
}

ion-content{
  --background: none;
}

.bslids{
  height: 90%;
}