<ion-header>
  <div id="headerInner">
    <ion-toolbar>
      <ion-buttons class="back" slot="start">
        <ion-back-button  defaultHref="/tabs/home-add-draw-result" text="" icon=""></ion-back-button>
      </ion-buttons>
      <ion-title>검사 분석 결과</ion-title>
    </ion-toolbar>

  </div>
</ion-header>

<ion-content>
      <div class="sW1">
      <div *ngIf="counselor$ | async as counselor" class="wrap">
        <ion-slides pager>
          <ion-slide *ngFor="let item of counselor.imageList">
            <div (click)="imgdetail(item.url)">
              <img [src]='item.url' alt="">
            </div>
          </ion-slide>
        </ion-slides>
        <ion-segment [(ngModel)]="viewType">
          <ion-segment-button value="0" class="v1">
            분석결과
          </ion-segment-button>
          <ion-segment-button value="1" class="v2">
            상세결과
          </ion-segment-button>
          <ion-segment-button value="2" class="v3">
            치료가이드
          </ion-segment-button>
        </ion-segment>

        <div class='break'></div>

        <div [ngSwitch]="viewType" class="conWrap">
          <ion-list class="v1Con" *ngSwitchCase="0">
            <div>
              <h3>분석결과</h3>
              {{counselor?.feedbackId.result}}
            </div>

          </ion-list>

          <ion-list class="v2Con" *ngSwitchCase="1">
            <div>
              <h3>상세결과</h3>
              {{counselor?.feedbackId.detailResult}}
            </div>

          </ion-list>


          <ion-list class="v3Con" *ngSwitchCase="2">
            <div>
              <h3>치료가이드</h3>
              {{counselor?.feedbackId.guide}}
            </div>

          </ion-list>
        </div>
      </div>
    </div>

</ion-content>