ion-item {
  padding: 18px 22px;
  h2 {
    margin: 0;
    font-size: 15px;
    font-weight: 600;
    color: #333333;
  }

  ion-toggle {
    --handle-border-radius: 50%;
    width: 52px;
    height: 30px;
    padding: 0;
    --background-checked: center / cover no-repeat url(../../../assets/imgs/toggle.png);
    --handle-box-shadow: 0 4px 8px rgba(44, 39, 56, 0.02);
    --handle-height: 24px;
    --handle-max-height: 24px;
    --handle-width: 24px;
    --handle-spacing: 4px;
    --handle-background: center / cover no-repeat url(../../../assets/imgs/tooglei.png);
    --background: center / cover no-repeat url(../../../assets/imgs/Controls/Switch/Off.png);
  }
  border-bottom: 1px solid #eaeaea;
}
