<ion-header>
  <div id="headerInner">
    <ion-toolbar>
      <ion-buttons class="back" slot="start">
        <ion-back-button text="" icon=""></ion-back-button>
      </ion-buttons>
      <ion-title>알림내역</ion-title>
    </ion-toolbar>

  </div>
</ion-header>

<ion-content>
  <ion-item>
    <h2>
      알림
    </h2>

    <ion-toggle slot="end" [(ngModel)]="alarmSwitch" (ionChange)="onChange()"></ion-toggle>
  </ion-item>

</ion-content>