<ion-header>
  <div id="headerInner">
    <ion-toolbar>
      <ion-button fill="clear" (click)="dismiss()" slot="end">
        <img src="assets/imgs/nav_close.png" alt="">
      </ion-button>
      <ion-title>이용약관</ion-title>
    </ion-toolbar>
  </div>
</ion-header>

<ion-content>
  <div *ngIf="info$ | async as info">
    {{info.serviceTerm}}
  </div>
</ion-content>