.notice {
  padding: 1.125rem 1rem;
  border-bottom: 1px solid #eaeaea;

  h2 {
    margin: 0;
    font-size: 1.15rem;
    font-weight: 600;
    letter-spacing: -0.2px;
    line-height: 1.188rem;
    color: #333333;
  }

  span {
    font-weight: 600;
    font-size: 0.75rem;
    color: #b3b3b3;
    display: block;
    // padding-left: 20px;
  }

  ion-badge {
    --background: #f7bd00;
    --color: #fff;
    --padding-top: 4px;
    --padding-end: 4px;
    --padding-bottom: 4px;
    --padding-start: 4px;
    font-size: 0.625rem;
    border-radius: 50%;
    min-width: 16px;
    min-height: 16px;
    max-height: 16px;
    max-width: 16px;
    display: flex;
    align-items: center;
    margin-right: 4px;
  }

  .ntWrap {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }
}
ion-list {
  min-height: 100%;
}
.none {
  height: calc(100vh - 56px);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 600;
  color: #333333;
  letter-spacing: -0.4px;
}
