<ion-header>
  <div id="headerInner">
    <ion-toolbar>
      <ion-buttons class="back" slot="start">
        <ion-back-button text="" icon=""></ion-back-button>
      </ion-buttons>
      <ion-title>알림내역</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="gosetting()">
          <img src="assets/imgs/setting.png" alt="">
        </ion-button>
      </ion-buttons>
    </ion-toolbar>

  </div>
</ion-header>

<ion-content>
  <div *ngIf="alarms$ | async as alarms">
    <div *ngIf="alarms.length > 0">
      <ion-list>
        <div class="notice" *ngFor="let item of alarms" (click)="goMypage(item.text)">
          <div class="ntWrap">
            <div *ngIf="!item.check">
              <ion-badge>N</ion-badge>
            </div>
            <h2>
              {{item.text}}
            </h2>
          </div>
          <span>
            {{item.dateCreated | date : 'yyyy.MM.dd'}}
          </span>
        </div>
      </ion-list>
    </div>
    <div class="none" *ngIf="alarms.length == 0">
      알림 메세지가 없습니다.
    </div>
  </div>
</ion-content>