ion-list::after {
  content: "";
  display: block;
  background: #f9f9f9;
  padding-bottom: 8px;
}
ion-item::after {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(../../../assets/imgs/more2.png) no-repeat;
  background-size: 24px;
  background-position: center;
  position: absolute;
  top: 50%;
  margin-top: -12px;
  right: 16px;
}

h2 {
  margin: 0;
  padding: 28px 24px 16px;
  font-size: 1rem;
  font-weight: 600;
  color: #999999;
}

ion-item {
  --padding-top: 20px;
  --padding-end: 24px;
  --padding-bottom: 20px;
  --padding-start: 24px;
  font-size: 1rem;
  font-weight: 600;
  color: #333333;
  position: relative;
}

ion-item.ion-activated {
  opacity: 0.7;
}
