<ion-header>
  <div id="headerInner">
    <ion-toolbar>
      <ion-buttons class="back" slot="start">
        <ion-back-button text="" icon=""></ion-back-button>
      </ion-buttons>
      <ion-title>설정</ion-title>
    </ion-toolbar>
  </div>
</ion-header>

<ion-content>

  <!-- <ion-list>
    <h2>
      약관
    </h2>

    <ion-item button detail="false" (click)="service()">
      이용약관
    </ion-item>
    <ion-item button detail="false" (click)="personal()">
      개인정보 취급 방침
    </ion-item>
  </ion-list> -->


  <ion-list>
    <h2>
      계정
    </h2>

    <ion-item button detail="false" (click)="gopassword()">
      비밀번호 변경
    </ion-item>
    <ion-item button detail="false" (click)="logout()">
      로그아웃
    </ion-item>
    <ion-item button detail="false" (click)="membership()">
      회원탈퇴
    </ion-item>
  </ion-list>

</ion-content>