<ion-header>
  <div id="headerInner">
    <ion-toolbar>
      <ion-buttons class="back" slot="start">
        <!-- <ion-back-button text="" icon=""></ion-back-button> -->
        <ion-button (click)='back()' fill="clear">
          <img src="assets/imgs/nav_back.png" alt="">

        </ion-button>
      </ion-buttons>
      <ion-title>그림 심리 분석</ion-title>
    </ion-toolbar>

  </div>
</ion-header>

<ion-content>
  <div class="allWrap">
    <div class="wrap">
      <div class="con">
        <ion-slides pager>
          <ion-slide *ngFor="let item of imageList; let i = index">
            <div class="slideWrap">
              <div *ngIf="!item.url" (click)="add(item)">
                <div class="stepWrap">
                  <div class="step">
                    <span>
                      {{item.order}}
                    </span>
                  </div>

                  <span class="orderName">
                    {{item.orderName}}
                  </span>
                </div>
                <div class="icon">
                  <img src="assets/imgs/upload.png" alt="">
                </div>
                <span class="infoText">
                  검사받을 사진을 첨부하세요.<br>
                  사진은 최대 4장까지 가능합니다.
                </span>
              </div>

              <div class="imgBox" *ngIf="item.url">
                <div>
                  <img [src]="item.url" alt="">
                </div>
                <ion-button (click)="deleteImage(i)">
                  <img src="assets/imgs/nav_close.png" alt="">
                </ion-button>
              </div>
            </div>
          </ion-slide>
        </ion-slides>
      </div>
    </div>
    <ion-button class="grbtn" expand="block" (click)='updateAlert()'
      [disabled]="!imageList[0].url || !imageList[1].url || !imageList[2].url || !imageList[3].url">
      사진 업로드
    </ion-button>
  </div>
</ion-content>

<input type="file" accept="image/*" ng2FileSelect (change)="onImageChange($event)" #imageInput2 hidden multiple />