.wrap {
  height: calc(100% - 118px);
}

.grbtn {
  width: calc(100% - 26px - 26px);
  margin: 0 auto;
}
ion-slides {
  height: 60%;
  top: 30px;
}

.con {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

ion-slide {
  height: calc(100% - 25px);
}

.slideWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  //   height: 36.87%;
  height: 100%;
  //   height:  height: 36.87%;%;
  width: calc(100% - 32px);
  margin: 0 auto;
  border: 2px dashed #dbdbdb;
  border-radius: 16px;
  overflow: hidden;
  background: #f9f9f9;
}

.icon {
  img {
    width: 2.25rem;
  }
  margin-bottom: 1.563rem;
}

.conT {
  width: 100%;
}

.infoText {
  display: block;
  font-size: 0.9125rem;
  font-weight: 600;
  line-height: 1.788rem;
  color: #545454;
  letter-spacing: -0.19px;
}
.stepWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.25rem;

  .orderName {
    font-size: 1rem;
    color: #545454;
  }
}
.step {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: linear-gradient(313deg, rgba(43, 90, 195, 1) 0%, rgba(27, 152, 231, 1) 100%);
  // margin: 0 auto;
  margin-right: 10px;
  //   margin-bottom: 23.18%;
  span {
    z-index: 1;
    font-size: 14px;
    text-transform: uppercase;
    background: linear-gradient(313deg, rgba(43, 90, 195, 1) 0%, rgba(27, 152, 231, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.step::before {
  position: absolute;
  border-radius: 50%;
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  background: #fff;
}

@media (max-height: 670px) {
  ion-slides {
    height: 60.78%;
  }
}

.imgBox {
  width: 100%;
  height: 100%;
  position: relative;
  background: #eeeeee;
  div {
    width: 100%;
    height: 100%;
    img {
      // width: 100%;
      // height: 100%;
      // // object-fit: cover;
      // display: flex;
      // align-items: center;
      // justify-content: center;

      // 수정후
      /* width: 100%; */
      height: 100%;
      /* display: flex; */
      align-items: center;
      justify-content: center;
      object-fit: cover;
      text-align: center;
    }
  }

  ion-button {
    width: 28px;
    height: 28px;
    --background-activated: rgba(0, 0, 0, 0.65);
    --background-focused: rgba(0, 0, 0, 0.65);
    --background-hover: rgba(0, 0, 0, 0.65);
    --background: rgba(0, 0, 0, 0.65);
    --border-radius: 0 0 0 5px;
    --padding-top: 0;
    --padding-bottom: 0;
    --padding-start: 0;
    --padding-end: 0;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    img {
      width: 16px;
      height: auto;
    }
  }
}

.allWrap {
  height: 100%;
}

ion-content{
 --background: none;
}