<ion-header>
  <div id="headerInner">
    <ion-toolbar>
      <ion-title>검사 질문지</ion-title>
    </ion-toolbar>

  </div>
</ion-header>

<ion-content>
  <div class="allWrap">
    <div class="wrap">
      <div class="con">
        <ion-slides #slides pager (ionSlideDidChange)='slideChanged()'>
          <ion-slide  *ngFor='let items of questionslist; let no=index'>
            <div class="slideWrap">
              <table>
                <tr>
                  <td>
                    <h5> {{ no+1 }}.질문  ({{ no+1 }}/{{questionslist.length}})</h5>
                  </td>
                </tr>
                <tr>
                  <td>
                    {{items.question}}
                  </td>
                </tr>
                <tr>
                  <td>
                    <ion-textarea rows='11' placeholder="답변을 입력하세요." (ionChange)='answerChanged(no,$event)'></ion-textarea>
                  </td>
                </tr>
              </table>              
            </div>
          </ion-slide>
        </ion-slides>
      </div>
    </div>
    <ion-button id='quesionSaveBtn' class="grbtn" expand="block" (click)='quesionSave()' [disabled]='true'>
      검사 요청
    </ion-button>
  </div>
</ion-content>
