.wrap {
    height: calc(100% - 118px);
  }
  
  .grbtn {
    width: calc(100% - 26px - 26px);
    margin: 0 auto;
  }
  ion-slides {
    width: 95%;
    height: 90%;
    top: 30px;

  
  }
  
  .con {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  ion-slide {
    height: calc(100% - 25px);
  }
  
  .slideWrap {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: calc(100% - 32px);
    margin: 0 auto;
    border-radius: 16px;
    overflow: hidden;
    background: #fff;
    padding: 10px;
  }
  
 
  @media (max-height: 670px) {
    ion-slides {
      height: 60.78%;
    }
  }
  
  
  .allWrap {
    height: 100%;
  }
  
  ion-content{
   --background: none;
  }

  ion-textarea{
      width: 100%;
      height: 80%;
      padding: 10px;
      background-color: #f2efff69;
      border: solid 1px #15122C;
  }

  table{
      width: 100%;
      height: 100%;
      text-align: left;

      tr:nth-child(1){
        height: 10%;
      }

      tr:nth-child(2){
        height: 10%;
      }
  }

  h5{
    font-weight: bold;
    text-align: center;
  }

  h6{
    text-align: right;
  }