ion-list {
  height: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  div {
    width: 100%;
    padding: 0 1.5rem;
  }
}

ion-input{
  border: 1px solid #d1d1d1;
  border-radius: 10px;
}

ion-input:first-of-type {
  margin-bottom: 1.125rem;
}

ion-input:last-of-type {
  margin-bottom: 3.625rem;
}

.grbtn {
  margin-bottom: 1rem;
}

.cbtn {
  padding: 0 !important;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .button-clear {
    --border-radius: 0;
    --padding-bottom: 0;
    --padding-start: 0;
    --padding-end: 0;
    margin: 0;
    height: 1.25rem;
    font-size: 1rem;
    font-weight: 600;
    color: #333333;
  }

  .button-clear:first-of-type {
    padding-right: 1rem;
    position: relative;
  }

  .button-clear:last-of-type {
    padding-left: 1rem;
  }

  .button-clear:first-of-type::after {
    display: block;
    content: "";
    width: 100%;
    height: 1.125rem;
    border-right: 1px solid #d7d7d7;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
}


.sc-ion-input-ios-h.has-focus{
  border: 1px solid #5926C5 !important;
}

#headerInner{
  background-color: #8842E5;
}
