<ion-header>
  <div id="headerInner">
    <ion-toolbar>
      <ion-buttons slot="start" class="back">
        <ion-back-button text="" icon=""></ion-back-button>
      </ion-buttons>
      <ion-title>로그인</ion-title>
    </ion-toolbar>
  </div>
</ion-header>

<ion-content>
  <ion-list>
    <div>
      <ion-input placeholder="이메일을 입력해주세요." type="email" [(ngModel)]="account.email"></ion-input>
      <ion-input placeholder="비밀번호를 입력해주세요." type="password" [(ngModel)]="account.password"></ion-input>

      <ion-button expand="block" class="grbtn" [disabled]=!account.email||!account.password (click)="login()">
        로그인
      </ion-button>

      <div class="cbtn">
        <ion-button fill="clear" (click)="resetpassword()">
          비밀번호 찾기
        </ion-button>

        <ion-button fill="clear" (click)="gosignup()">
          회원가입
        </ion-button>
      </div>
    </div>
  </ion-list>
</ion-content>