<ion-header>
  <div id="headerInner">
    <ion-toolbar>
      <ion-buttons class="back" slot="start">
        <ion-back-button text="" icon=""></ion-back-button>
      </ion-buttons>
      <ion-title>방문 기관</ion-title>
    </ion-toolbar>
  </div>
</ion-header>

<ion-content>
      <div class="slideWrap" *ngIf='institution$ as institution'>
        <div class="sW1">
          <div class="sW2">
              <img src="{{ institution.img }}">
          </div>
          <ion-grid>
            <ion-row>
              <ion-col></ion-col>
              <ion-col><div class="whiteLabel">{{ institution.kind }}</div></ion-col>
              <ion-col></ion-col>
            </ion-row>
          </ion-grid>
          <div>
            <h2>
              {{ institution.name }}
            </h2>
            <table>
              <tr>
                <td>
                  <b>홈페<br>이지</b>
                </td>
                <td>
                  {{ institution.homepage }}
                </td>
                <!-- <td (click)='openHomepage(institution.homepage)'>
                  <a>{{ institution.homepage }}</a>
                </td> -->
              </tr>
              <tr>
                <td>
                  <b>주소</b>
                </td>
                <td>
                  {{ institution.address }}
                </td>
              </tr>
              <tr>
                <td>
                  <b>연락처</b>
                </td>
                <td>
                  {{ institution.pNumber }}
                </td>
              </tr>
              <tr>
                <td>
                  <b>Email</b>
                </td>
                <td>
                   {{ institution.email }}
                </td>
              </tr>
            </table>
          </div>
          <ion-button class="grbtn" expand="block" *ngIf='!rInfo' (click)='fnGoRevt(institution.docId, institution.name)'>
            예약
          </ion-button>
        </div>
      </div>
</ion-content>