ion-slides {
    height: 100%;
    ion-button {
      position: absolute;
      z-index: 999;
      z-index: 99999;
      bottom: 140px;
      width: calc(90% - 26px - 26px);
      left: 50%;
      transform: translateX(-50%);
      //box-shadow: 0 2px 12px rgba(0, 0, 0, 0.3);
    }
  
    ion-button.ion-activated {
      opacity: 0.9;
    }
  }
  ion-slide {
    padding: 18px 16px 70px;
  }
  .sW1 {
    height: 100%;
    width: 100%;
    overflow: scroll;
    border-radius: 10px;
    background-color: #fff;
    background-position: center !important;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.5);
  }
  
  
  .sW2 {
    width: 100%;
    background-size: cover;

    img{
      width: 100%;
      height: 170px;
    }
  }
  
  
  .slideWrap {
    height: 85%;
    width: 90%;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
    h2 {
      margin: 10px;
      font-size: 1.575rem;
      font-weight: 600;
      color: #222222;
      //text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
      margin-bottom: 3.77%;
    }
  
    span {
      display: block;
      font-size: 0.975rem;
      line-height: 1.863rem;
      letter-spacing: -0.4px;
      text-align: left;
      margin: 0 15px 0 15px;
      color: #555555;
      .break {
        min-height: 1.563rem;
      }
    }
  }
    
  @media (max-height: 670px) {
    ion-button {
      bottom: 3.125rem;
    }

    .grbtn {
      height: 3.125rem !important;
    }
  }
  

  @media (min-height: 812px) {
    .grbtn {
    }
  }

  @media (max-width: 330px) {
    .slideWrap {
      span {
        // font-size: 0.75rem;
        line-height: 1.125rem;
        .break {
          min-height: 1.125rem;
        }
      }
    }
  }


  ion-content{
    --background :none;
  }

  .grbtn{ 
    width: 80%;
    --background: #5926C5 !important;
    color: #fff;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    margin: 0 auto;
    margin-top:30px;
    margin-bottom:20px;
  }

  .whiteLabel{
      background-image: url('../../../../assets/imgs/addimgs/titleTag.png');
      background-repeat: no-repeat;
      background-size: 100% 100%;
      padding: 5px 0 5px 0;
      color: #7938DB;
      margin:0 auto;
  }

  table{
    margin: 0 20px;
    font-size: 1.15rem;
    border: 5px;

    td{
      padding: 5px;
    }

    td:first-child{
      width: 20%;
      text-align: center;
    }

    td:last-child{
      width: 70%;
      word-break: break-all;
      color:#555555;
      text-align: left;
    }
    
  }

  ion-toolbar{
    background:none;;
  }