<ion-header>
  <div id="headerInner">
    <ion-toolbar>
      <ion-buttons class="back" slot="start">
        <ion-back-button text="" icon=""></ion-back-button>
      </ion-buttons>
      <ion-title>비밀번호 변경</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="changePassword()"
          [disabled]="!oldPassword || !password || !confirm_password || (emailPasswordForm.hasError('mismatchedPasswords') && emailPasswordForm.controls.password.valid) || !pwExpressionChk">
          저장
        </ion-button>
      </ion-buttons>
    </ion-toolbar>

  </div>
</ion-header>

<ion-content>
  <form [formGroup]="emailPasswordForm">
    <ion-list>
      <h2>
        현재 비밀번호
      </h2>

      <ion-input placeholder="현재 비밀번호를 입력해주세요." type="password" formControlName="oldPassword" [(ngModel)]="oldPassword"
        minlength="6" maxlength="20">
      </ion-input>
      <h2>
        새 비밀번호
      </h2>

      <ion-input placeholder="새 비밀번호를 입력해주세요." type="password" formControlName="password" [(ngModel)]="password"
        minlength="6" maxlength="20" (ionChange)="pwRegularExpression()">
      </ion-input>
      <span class="validate" *ngIf="password && !pwExpressionChk">
        비밀번호는 영문+숫자 6글자 이상 입력해주세요.
      </span>

      <h2>
        새 비밀번호 다시 입력
      </h2>

      <ion-input placeholder="새 비밀번호를 다시 입력해주세요." formControlName="confirm_password" type="password" minlength="6"
        [(ngModel)]="confirm_password" minlength="6" maxlength="20" (ionChange)="pwRegularExpression()"></ion-input>
      <span class="validate" *ngIf="confirm_password && matchingPasswords() && !passwordCheck">
        비밀번호가 일치하지 않습니다.
      </span>
    </ion-list>
  </form>
</ion-content>