ion-toolbar {
  ion-button {
    --color: #f7bd00;
    font-weight: 600;
  }
}
ion-input {
  margin-bottom: 1.125rem;
  border: 1px solid #d4d4d4;
  border-radius: 5px;
}

h2 {
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
  color: #333333;
  margin-bottom: 16px;
}

ion-list {
  padding: 2.5rem 1.5rem;
}

[disabled] {
  --background: transparent;
}

.sc-ion-input-ios-h.has-focus{
  border:solid 1px #5926C5;
}
