<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="cancel()">
        <img src="assets/imgs/nav_close.png" style="width:24px;height: auto;" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>


  <div class="all">
    <ion-slides zoom>
      <ion-slide>
        <div class="swiper-zoom-container">
          <img src="{{img}}">
        </div>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>