ion-toolbar {
  position: absolute;
  right: 16px;
  top: 16px;
  z-index: 10;
}

.all {
  height: 100%;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.swiper-container {
  margin: 0;
  width: 100%;
  height: 100%;
}
