.slideWrap {
    height: 83%;
    width: 90%;
    text-align: start;
    margin: 0 auto;
    margin-top:13%;
  }

  @media (max-width: 330px) {
    .slideWrap {
      span {
        // font-size: 0.75rem;
        line-height: 1.125rem;
        .break {
          min-height: 1.125rem;
        }
      }
    }
  }
  
  .step::before {
    position: absolute;
    border-radius: 50%;
    content: '';
    display: block;
    width: 42px;
    height: 42px;
    background: #fff;
  }

  @media (max-height: 736px) {
    .conInner {
      height: 75%;
    }
  }
  
  .grbtn {
    width: calc(100% - 26px - 26px);
    margin: 0 auto;
  }
  
  .sW1{
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 20px;
    background-color:#fff;
    padding-top: 12.44%;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.5);
  }
  
  ion-content{
    --background : none;
  }
  
  @media (max-height: 670px) {
  
    .grbtn {
      height: 3.125rem !important;
      margin-top:120%;
    }
  }
  
  @media (max-width: 330px) {
    .slideWrap {
      span {
        // font-size: 0.75rem;
        line-height: 1.125rem;
        .break {
          min-height: 1.125rem;
        }
      }
    }
  }
  
  
  @media (min-height: 812px) {
  
    .grbtn {
      height: 3.125rem !important;
      margin-top:150%;
    }
  }
  
  @media (min-height: 1024px) {
  
    .grbtn {
      height: 3.125rem !important;
      margin-top:90%;
    }
  }

  .divBody{
    height: 100%;
    padding: 5%;
    text-align: center;
}


h6{
  font-size: 0.98rem;
  color:#EA5715;
}

h3{
  font-size:1.2rem;
  text-align:center;
}
ion-item{
  font-size:1rem;
}

ion-input{
  border-bottom: 1px solid #d1d1d1;
  border-radius: 2px;
  text-align: left;
}

.sc-ion-input-ios-h{
  display: inline-block;
}

.sc-ion-input-ios-h.has-focus{
  border-bottom: 1px solid #5926C5 !important;
}

ion-radio-group{
  display: flex;
  margin-left:20%
}

ion-radio[slot=start]{
  margin-inline-end: 5px;
}

.m20{
  margin-left : 20%;
}
