<ion-header>
  <div id="headerInner">
    <ion-toolbar>
      <ion-buttons class="back" slot="start">
        <ion-back-button text="" icon=""></ion-back-button>
      </ion-buttons>
      <ion-title>검사자 정보</ion-title>
    </ion-toolbar>

  </div>
</ion-header>

<ion-content>
      <div class="slideWrap">
        <div class="sW1">
          <div class="divBody">
            <h3>그림을 그린 사람이 본인인가요?<br></h3>
            <ion-radio-group>
              <ion-item (click)='testInfoHidden(false)'>
                <ion-radio slot="start"></ion-radio>
                <ion-label class="radiLabel" >본인</ion-label>
              </ion-item>
              <ion-item class='m20' (click)='testInfoHidden(true)'>
                <ion-radio slot="start"></ion-radio>
                <ion-label class="radiLabel">아니에요</ion-label>
              </ion-item>
            </ion-radio-group>
            <h6>검사자의 연령에 따라 결과가 달라질 수 있습니다. 정확하게 선택해주세요.<br></h6>

            <ion-radio-group>
              <ion-item>
                <ion-radio slot="start" (click)="fnSetSx('M')"></ion-radio>
                <ion-label>남자</ion-label>
              </ion-item>
              <ion-item class='m20'>
                <ion-radio slot="start" (click)="fnSetSx('W')"></ion-radio>
                <ion-label>여자</ion-label>
              </ion-item>
            </ion-radio-group>
            <div class="childTester" *ngIf="divHidden">
              <ion-item class="ionItem">
                <ion-label>이름</ion-label>
                  <ion-input [(ngModel)]="testerNM" placeholder=" 홍길동" minlength="2"></ion-input>
              </ion-item>
              <ion-item class="ionItem">
                <ion-label>출생년도</ion-label>
                  <ion-input [(ngModel)]="testerYY" placeholder="YYYY"></ion-input>
              </ion-item>
            </div>
            <br>
            <div>
              <ion-button  expand="block" (click)="htp01Move()">다음</ion-button>
          </div>
        </div>
        </div>
      </div>
</ion-content>