<ion-header>
  <ion-toolbar>
    <ion-buttons class="back" slot="start">
      <ion-back-button defaultHref="/tabs/home-add-mypage" text="" icon=""></ion-back-button>
    </ion-buttons>
    <ion-title>예약내역</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="user$ | async as user">
  <div *ngIf="rsvtlist$|async as rsvtlist">
    <ion-list>
      <ion-item class="listT">
        <span slot="end">
          총 {{rsvtlist.length}}번 예약
        </span>
      </ion-item>

      <div *ngFor="let item of rsvtlist; let i = index">
        <ion-item>
          <div class='cardDiv'>
            <ion-card class="ionCard"  (click)='fnGoRevt(item.institutionId)'>
                <span class='icon'>
                  <ion-icon name="chevron-forward-outline"></ion-icon>
                </span>
                <ion-card-header>
                  <h4>{{item.institutionName}}</h4>
                  <div id='lineLabel'></div>
                </ion-card-header>
                <ion-card-content>
                  <ion-grid>
                    <ion-row>
                      <ion-col>예약일</ion-col>
                      <ion-col>예약시간</ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col>
                        <ion-datetime class='dtFirst' displayFormat='YYYY년MM월DD일' value='{{item.rsvtDate}}' readonly></ion-datetime>
                      </ion-col>
                      <ion-col>
                        <ion-datetime class='dtSecon' displayFormat='h시mm분 a' value='{{item.rsvtDate}}' readonly></ion-datetime>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                  <!-- <div>
                    <ion-datetime class='dtFirst' displayFormat='YYYY년MM월DD일 ' value='{{item.rsvtDate}}' readonly></ion-datetime>
                    <ion-datetime class='dtSecon' displayFormat='h시mm분 a' value='{{item.rsvtDate}}' readonly></ion-datetime>
                  </div> -->
                  </ion-card-content>
              </ion-card>
            </div>
        </ion-item>
      </div>

    </ion-list>
  </div>
</div>
</ion-content>
