ion-content{
  --background: none;
}

.listT {
  --padding-start: 1.563rem;
  --padding-end: 1.563rem;
  --padding-top: 1.063rem;
  --padding-bottom: 1.063rem;
  background-color:#fff;
  border-radius:10px;
  margin: 30px 10px 0 10px;


  span {
    font-size: 0.875rem;
    font-weight: 600;
    color: #333333;
    letter-spacing: -0.4px;
    margin: 0;
  }
}

h4 {
  margin: 0;
  font-size: 1.3rem;
  color: #333333;
  font-weight: 600;
  letter-spacing: -0.4px;
  text-align: center;
}

ion-card{
margin: 5px !important;
height: 180px;
}  

ion-card-header{
  text-align: left;
  top:-30px;
}
ion-card-content{
  top:-30px;
}

ion-list{
background: none;
margin: 25px 0 20px 0;
}

.cardDiv{
height: 200px;
margin: 0 auto;
text-align: center;
}

.divPurple{
  background-color: #F1EFF8;
  width: 95%;
  margin: 0 auto;
  border-radius: 30px;
}

ion-datetime{
  word-spacing: -5px;
}

.dtFirst{
  width: 50%;
  text-align: left;
  position:fixed;
  --padding-start:0 !important;
}

.dtSecon{
  text-align: right;
}

@media(max-width:760px){
  ion-card{
    width: 320px;
  }
}

@media(min-width:760px){
  ion-card{
    width: 700px;
  }
}

#lineLabel{
  border-bottom: solid 1px #5926C5;
  width: 50%;
  margin: 15px auto;
}

ion-grid{
  font-weight: 600;
}

ion-icon{
  width: 24px;
  height: 24px;
}

.icon{
  position: relative;
  top:35%;
  left: 45%;
  color:#5926C5;
}