h2 {
    white-space: pre-line;
    margin: 0;
    font-weight: 600;
    font-size: 0.9375rem;
    color: #5926C5;
    line-height: 1.4rem;
    letter-spacing: -0.2px;
    margin-bottom: 1rem;
    text-align: left;
  }
  .m1 {
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.188rem;
    color: #333;
    letter-spacing: -0.2px;
    display: block;
    text-align: center;
  }
  
  .m2 {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.188rem;
    color: #333;
    letter-spacing: -0.2px;
    display: block;
    text-align: center;
  }
  
  .m1,
  .m2 {
    white-space: pre-line;
  }
  
  .slideWrap {
    height: 83%;
    width: 90%;
    text-align: start;
    margin: 0 auto;
    h2 {
      margin: 0;
      font-size: 1.375rem;
      font-weight: 600;
      color: #5926C5;
      //text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
      margin-bottom: 7.77%;
    }
  
    span {
      display: block;
      font-size: 0.875rem;
      font-weight: 600;
      line-height: 1.563rem;
      letter-spacing: -0.4px;
      //text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
      color: rgb(128, 128, 128);
      .break {
        min-height: 1.563rem;
      }
    }
  }
  @media (max-width: 330px) {
    .slideWrap {
      span {
        // font-size: 0.75rem;
        line-height: 1.125rem;
        .break {
          min-height: 1.125rem;
        }
      }
    }
  }
  
  .step::before {
    position: absolute;
    border-radius: 50%;
    content: '';
    display: block;
    width: 42px;
    height: 42px;
    background: #fff;
  }
  @media (max-height: 736px) {
    .conInner {
      height: 75%;
    }
  }
  
  @media (max-height: 570px) {
    .conInner {
      height: 80%;
    }
    .step {
      width: 50px;
      height: 50px;
    }
  
    .conInner {
      padding-top: 7%;
    }
  
    .step::before {
      width: 42px;
      height: 42px;
    }
  
    h2 {
      line-height: 20px;
      font-size: 16px;
    }
  }
  
  
  .grbtn {
    width: calc(100% - 26px - 26px);
    position: absolute;
    bottom: 82px;
  }
  
  .sW1{
    height: 98%;
    width: 95%;
    overflow: auto;
    border-radius: 20px;
    background-size: cover !important;
    background-position: center !important;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.5);
    background-color: #fff;
    background-size: 100% 100%;
    margin: 0 auto;
    margin-top:10px;
  }
  
  ion-content{
    --background : none;
  }
  
  @media (max-height: 670px) {
  
    .grbtn {
      height: 3.125rem !important;
    }
  }
  
  @media (max-width: 330px) {
    .slideWrap {
      span {
        // font-size: 0.75rem;
        line-height: 1.125rem;
        .break {
          min-height: 1.125rem;
        }
      }
    }
  }
  
  
  @media (min-height: 812px) {
  
    .grbtn {
      height: 3.125rem !important;
    }
  }
  
  @media (min-height: 1024px) {
  
    .grbtn {
      height: 3.125rem !important;
      bottom: 150px!important;
    }
  }
  
  ion-slides {
    height: 100%;
    ion-button {
      position: absolute;
      z-index: 999;
      z-index: 99999;
      bottom: 72px;
      width: calc(90% - 26px - 26px);
      left: 50%;
      transform: translateX(-50%);
      //box-shadow: 0 2px 12px rgba(0, 0, 0, 0.3);
    }
  
    ion-button.ion-activated {
      opacity: 0.9;
    }
  }

  table{
    width: 100%;
    border-bottom: inset;
    border-collapse:initial;
    tr{
      text-align: right;
    }
  }

  ion-button{
    margin-bottom: 0.5rem;
    width: 24px;
    height: 24px;
    color:#222222;
    --background: #fff;
  }

  ion-icon{
    width: 24px;
    height: 24px;
    color:#5926C5;
  }

  ion-list{
    margin: 20px;
  }

  .listT {
    --padding-start: 1.563rem;
    --padding-end: 1.563rem;
    --padding-top: 1.063rem;
    --padding-bottom: 1.063rem;
    background-color:#fff;
    border-radius:10px;
    margin: 30px 10px 0 10px;
     
    h3 {
      margin: 0;
      font-size: 1rem;
      color: #333333;
      font-weight: 600;
      letter-spacing: -0.4px;
    }

    span {
      font-size: 1rem;
      font-weight: 600;
      color: #333333;
      letter-spacing: -0.4px;
      margin: 0;
    }
  }