<ion-header>
  <div id="headerInner">
    <ion-toolbar>
      <ion-buttons class="back" slot="start">
        <ion-back-button  defaultHref="/tabs/home-add-mypage" text="" icon=""></ion-back-button>
      </ion-buttons>
      <ion-title>검사 진행</ion-title>
    </ion-toolbar>

  </div>
</ion-header>

<ion-content>
  <div  class="slideWrap"  *ngIf="items$| async as items">
      <ion-item class="listT">
        <h3>
          검사내역
        </h3>
        <span slot="end">
          총 {{items.length}}번 검사
        </span>
      </ion-item>
        <div class="sW1" *ngIf='items.length>0'>
          <ion-list *ngFor='let item of items; let i = index'>
            <table>
              <tr  (click)="goNextTest(item.counselorId,item.kind,item.step)">
                <td>
                  <h2>{{ item.kind }}</h2>
                </td>
                <td>
                  <ion-icon name="chevron-forward-outline"></ion-icon>
               </td>
              </tr>
              <tr>
                <div>{{ item.nickname }}</div>
              </tr>
              <tr>
                <div><ion-datetime class='dtFirst' displayFormat='검사시작일 : YYYY년MM월DD일' value='{{item.dateCreated}}' readonly></ion-datetime></div>
              </tr>
            </table>
          </ion-list>
        </div>
</div>
</ion-content>