
  ion-slide {
    padding: 18px 16px;
  }
  .sW1,
  .sW2 {
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 20px;
    background-size: cover !important;
    background-position: center !important;
    //padding-left: 29px;
    padding-top: 10.44%;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.5);
  }
  
  .sW1 {
    //background: url(../../assets/imgs/addimgs/draw_main_1.svg) no-repeat;
  }
  
  .sW2 {
   // background: url(../../assets/imgs/addimgs/draw_main_1.svg) no-repeat;
  }
  
  ion-slides {
    height: 100%;
  }
  
  @media (max-height: 670px) {
    ion-slides {
      ion-button {
        bottom: 3.125rem;
      }
  
      ion-slide {
        padding: 1rem;
      }
    }
  
    .grbtn {
      height: 3.125rem !important;
    }
  }
  
  ion-content{
    --background : none;
  }
  .grbtn{
    --background : #5926C5 !important;
    color: #fff;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
  }

  //

  ion-title{
    text-align: center;
}
.divBody{
    height: 100%;
}

.ionSlides{
    height: 100%;
}

.ionCard{
  //  background: url(../../assets/imgs/addimgs/visit01.jpg) no-repeat;
    background-size: 100% 100%;
    padding-bottom: 20px;

    .testLabel{
        width: 50%;
        color: #fff;
        font-size: 0.8rem;
        background-color: #222222;
        opacity: 0.5;
        border-radius: 30px;
        text-align: center;
    }
}

ion-title{
    text-align: center;
}

ion-card{
  height: 150px;
  margin-inline-start: 13px;
  margin-inline-end:13px;
}

ion-card-header{
    text-align: left;
}

.slideWrap {
    height: 95%;
    width: 97%;
    margin-top: 20px;
    text-align: center;
    h2 {
      margin: 0;
      font-size: 1.375rem;
      font-weight: 600;
      color: #222222;
      //text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
      margin-bottom: 7.77%;
    }
  
    span {
      display: block;
      font-size: 0.975rem;
      //font-weight: 600;
      line-height: 1.863rem;
      letter-spacing: -0.4px;
      //text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
      color: #555555;
      .break {
        min-height: 1.563rem;
      }
    }
  }

.cardWrap{
    height: 100%;
    width: 97%;
    margin:0 auto;
    padding-top: 20px;
}

.cdbtn{
    width: 250px;
    height: 65px;
    position: relative;
    background-color: #fff;
    border-radius: 30px;
    margin: 0 30px 0 20px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
    top:-60px;
    color: #222;
    --background : #fff;

    .cslr{
      margin: 5px;
      width: 30px;
      height: 30px;
    }

    .cdImg{
        margin-left: 40%;
    }
}

ion-list{
  background: none;
  margin: 25px 0 20px 0;
}

.cardDiv{
  height: 210px;
  margin: 0 auto;
  text-align: center;
}

ion-toolbar{
  background:none;
}

@media (max-height: 670px) {
  ion-slides {
    
  }
}

@media (max-width: 330px) {
  
}

.divPurple{
  background-color: #F1EFF8;
  width: 95%;
  margin: 0 auto;
  border-radius: 30px;
}
