<ion-header>
  <div id="headerInner">
    <!-- <div id="headerInner" *ngIf="alarms$ | async"> -->
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="gomypage()">
          <img src="assets/imgs/addimgs/user.png" alt="">
        </ion-button>
      </ion-buttons>
      <ion-title>방문기관</ion-title>
      <ion-buttons slot="end" class="bellWrap">
        <ion-button (click)="gonotice()">
          <img src="assets/imgs/addimgs/bell.png" alt="">
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </div>
</ion-header>


<ion-content>
  <div class='divPurple' *ngIf="institutiones$|async as institutiones">
      <ion-list>
        <div *ngFor='let item of institutiones; let i = index'>
          <ion-item>
            <div class='cardDiv'>
                <ion-card class="ionCard">
                  <img src="{{item.img}}" alt="">
                  <ion-card-header>
                    <div class='testLabel'>{{item.kind}}</div>
                  </ion-card-header>
                  <ion-card-content><br><br></ion-card-content>
                </ion-card>
                <ion-button class='cdbtn' (click)="fnGoVisit(item.docId)">
                  <img class='cslr' src='{{item.counselor}}' alt='상담사'>
                  {{item.name}}
                  <img class='cdImg' src='../../assets/imgs/addimgs/more2.png' />
                </ion-button>
              </div>
          </ion-item>
        </div>

      </ion-list>
  </div>
</ion-content>
