<ion-header>
  <div id="headerInner">
    <ion-toolbar>
      <ion-buttons class="back" slot="start">
        <ion-back-button text="" icon=""></ion-back-button>
      </ion-buttons>
      <ion-title>검사 실시 방법</ion-title>
    </ion-toolbar>

  </div>
</ion-header>

<ion-content>
  <ion-slides #slides>
    <ion-slide>
      <div class="slideWrap">
        <div class="sW1">
          <ion-grid>
            <ion-row>
              <ion-button expand="block" class="grbtn" (click)="slidenext()">다음</ion-button>
            </ion-row>
          </ion-grid>
        </div>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>