<ion-content>
  <ion-header>
    <div id="headerInner">
    </div>
  </ion-header>

  <ion-slides #mySlider pager (ionSlidesDidLoad)='slidesDidLoad(mySlider)'>
    <ion-slide>
      <div class= 'guide01' >
        <img  src='../../../assets/imgs/addimgs/guide01.png'>
      </div>
    </ion-slide>
    
    <ion-slide>
      <div  class= 'guide02'>
        <img  src='../../../assets/imgs/addimgs/guide02.png'>
      </div>
    </ion-slide>

    <ion-slide>
      <div  class= 'guide02'>
        <img  src='../../../assets/imgs/addimgs/guide03.png'>
      </div>
    </ion-slide>

    <ion-slide>
      <div  class= 'guide02'>
        <img  src='../../../assets/imgs/addimgs/guide04.png'>
      </div>
      <ion-button expand="block" (click)="gohome()">
        지금 바로 이용하기
      </ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>