ion-content {
  --background: transparent;
  background: #F4F5F8;
}


ion-content::part(background){
  background: transparent;
}


.allCon {
  background: #1998e6; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #1998e6 0%, #2b5bc3 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  #1998e6 0%,#2b5bc3 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  #1998e6 0%,#2b5bc3 100%);
  background:url(../../../assets/imgs/addimgs/guide01.png) no-repeat center / cover ;
  background-size: cover;
  background-position: center;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: 100%;
  min-height: 100%;
  max-height: 100%;

  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1998e6+0,2b5bc3+100 */
}
ion-header {
  position: absolute;
  /* ... */
  /* Status bar height on iOS 10 */
  padding-top: 20px;
  /* Status bar height on iOS 11.0 */
  padding-top: constant(safe-area-inset-top);
  /* Status bar height on iOS 11+ */
  padding-top: env(safe-area-inset-top);

  #headerInner {
    background: transparent;
    height: 56px;
  }

  ion-title {
    color: #fff;
  }
}

ion-slide {
  ion-button {
    position: absolute;
    z-index: 999;
    z-index: 99999;
    bottom: 89px;
    width: calc(100% - 62px - 32px);
    height: 40px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    --border-radius: 30px;
    --background: #5926C5;
    --background-activated: linear-gradient( to right, #8842E5, #5926C5);
    --background-focused: #5926C5;
    --background-hover: #5926C5;
    --color: #fff;
    font-size: 0.9375rem;
    font-weight: 600;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.3);
    border-radius: 30px;
  }

  ion-button.ion-activated {
    opacity: 0.8;
  }
  .sW {
    height: 100%;
    width: 100%;
  }
}

ion-slides {
  height: 100%;
}

// ion-slide {
//   background: linear-gradient(164deg, rgba(41, 171, 226, 1) 0%, rgba(42, 85, 191, 1) 100%);
//   background: url(../../../assets/imgs/intro1.png) no-repeat;
//   background-size: cover;
//   background-position: center;
// }
.slideWrap {
  height: 100%;
  width: 100%;
}

.textBox {
  padding: 0 36px;
  padding-top: 63%;
  span {
    font-size: 1.125rem;
    font-weight: 600;
    color: #fff;
    line-height: 30px;
    letter-spacing: -0.09px;
    display: block;
    text-align: start;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    word-break: break-word;
  }
}
.txtsub {
  margin-bottom: 31px;
}

@media (max-width: 330px) {
  .textBox {
    padding-left: 20px;
    span {
      font-size: 19px;
    }

  }

  .textBox2 {
    padding-top: 33%;
  }
}




// .guide1{
//   width: 100%;
//   background-image: url('../../../assets/imgs/addimgs/guide01.png');
//   background-repeat : no-repeat; 
//   background-size: 100% 100%;
// }


@media (min-height: 650px) {
  ion-slides {
    height: 100%;
  }
}


// .guide01{
//   width: 100%;
//   background-size: cover;
// }

.guide01{
  height: 100%;
  width: 100%;
  background:#c6a601;

  img {
    max-width:100%;
    height:100%;
  }
}

.guide02{
  height: 100%;
  width: 100%;

  img {
    max-width:100%;
    height:100%;
  }
}