
ion-tab-bar {
    --background: #ffffff;
    --background-focused: #ffffff;
    --border: 0;
    --color: #999999;
    --color-selected: #5926C5;
    height: 56px;
   // border-top: 1px solid #ececec;
}

.home {
    ion-icon {
        background: url(../../assets/imgs/addimgs/homebtn.png) no-repeat;
        background-size: 24px;
        background-position: center;
        margin: 0;
    }
}

.home.tab-selected {
    ion-icon {
        background: url(../../assets/imgs/addimgs/homebtn_ac.png) no-repeat;
        background-size: 24px;
        background-position: center;
        margin: 0;
    }
}

.palette {
    ion-icon {
        background: url(../../assets/imgs/addimgs/palette.png) no-repeat;
        background-size: 24px;
        background-position: center;
        margin: 0;
    }
}

.palette.tab-selected {
    ion-icon {
        background: url(../../assets/imgs/addimgs/palette_ac.png) no-repeat;
        background-size: 24px;
        background-position: center;
        margin: 0;
    }
}

.reader {
    ion-icon {
        background: url(../../assets/imgs/addimgs/reader.png) no-repeat;
        background-size: 24px;
        background-position: center;
        margin: 0;
    }
}

.reader.tab-selected {
    ion-icon {
        background: url(../../assets/imgs/addimgs/reader_ac.png) no-repeat;
        background-size: 24px;
        background-position: center;
        margin: 0;
    }
}

.chatbubbles {
    ion-icon {
        background: url(../../assets/imgs/addimgs/chatbubbles.png) no-repeat;
        background-size: 24px;
        background-position: center;
        margin: 0;
    }
}

.chatbubbles.tab-selected {
    ion-icon {
        background: url(../../assets/imgs/addimgs/chatbubbles_ac.png) no-repeat;
        background-size: 24px;
        background-position: center;
        margin: 0;
    }
}