<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" class="home">
      <ion-icon></ion-icon>
      <ion-label>홈</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" class="palette"  id="tab_home">
      <ion-icon ></ion-icon>
      <ion-label>그림검사</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" class="reader">
      <ion-icon></ion-icon>
      <ion-label>설문지검사</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4" class="chatbubbles">
      <ion-icon></ion-icon>
      <ion-label>방문기관</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>