.profile {
  height: 190px;
  background: linear-gradient(to right,#5926C5, #8842E5);
  border-bottom: 1px solid #eeeeee;

  --padding-start: 1.563rem;
  --padding-end: 1.563rem;
  --padding-top: 1.2rem;
  --padding-bottom: 1.2rem;

  .button-clear {
    --color: #9d9d9d;
    font-size: 0.9375rem;
    font-weight: 600;
    letter-spacing: -0.4px;
    margin: 0;
    height: auto;
    --padding-start: 0;
    --padding-end: 0;
    --border-radius: 0;
  }
}

.listT {
  --padding-start: 1.563rem;
  --padding-end: 1.563rem;
  --padding-top: 1.063rem;
  --padding-bottom: 1.063rem;

  h3 {
    margin: 0;
    font-size: 1rem;
    color: #333333;
    font-weight: 600;
    letter-spacing: -0.4px;
  }

  span {
    font-size: 0.875rem;
    font-weight: 600;
    color: #333333;
    letter-spacing: -0.4px;
    margin: 0;
  }
}

.reseult {
  --padding-top: 0.875rem;
  --padding-start: 1.5rem;
  --padding-end: 1.5rem;
  --padding-bottom: 0.875rem;
  border-bottom: 1px solid #eeeeee;
  // ion-avatar {
  //   max-width: 80px;
  //   max-height: 80px;
  //   min-width: 80px;
  //   min-height: 80px;
  //   width: 80px;
  //   height: 80px;
  //   margin: 0;
  //   border: 2px solid #333;
  //   box-sizing: content-box;

  //   img {
  //     width: 100%;
  //     height: 100%;
  //     object-fit: cover;
  //     display: block;
  //   }
  // }

  h4 {
    margin: 0;
    font-weight: 600;
    color: #333;
    letter-spacing: -0.4px;
    margin-bottom: 1.2rem;
    text-align: center;
    font-size: 0.9375rem;
  }

  ion-label {
    margin: 0;

    div {
      display: flex;
      align-items: center;
      justify-content: center;

      .button-outline {
        margin: 0;
        padding: 0;
        --border-radius: 14px;
        height: 1.75rem;
        font-size: 0.875rem;
        font-weight: 600;
        --padding-top: 0.375rem;
        --padding-start: 1.25rem;
        --padding-end: 1.25rem;
        --padding-bottom: 0.375rem;
      }
      .view.ion-activated,
      .down.ion-activated {
        opacity: 0.8;
      }

      .view {
        margin-right: 0.5rem;
      }
      .analysis {
        --color: #295fc6;
        --background: #c2c2c2;
        --border-width: 0;
        --background-activated: #c2c2c2;
        --background-focused: #c2c2c2;
        --background-focused: #c2c2c2;
        --background-hover: #c2c2c2;
        --background-focused-opacity: 0.1;
        --color-activated: #295fc6;
      }

      .view {
        --color: #fff;
        --background: center / cover no-repeat url(../../../assets/imgs/toggle.png);
        background: center / cover no-repeat url(../../../assets/imgs/toggle.png);
        --border-width: 0;
        --background-activated: center / cover no-repeat url(../../../assets/imgs/toggle.png);
        --background-focused: center / cover no-repeat url(../../../assets/imgs/toggle.png);
        --background-focused: center / cover no-repeat url(../../../assets/imgs/toggle.png);
        --background-hover: center / cover no-repeat url(../../../assets/imgs/toggle.png);
        --background-focused-opacity: 0.1;
        --color-activated: #fff;
        border-radius: 14px;
      }

      .down {
        --color: #2768cb;
        --background: #fff;
        --background-activated: #fff;
        --background-focused: #fff;
        --background-focused: #fff;
        --background-hover: #fff;
        --background-focused-opacity: 1;
        --border-color: #2768cb;
        --color-activated: #2768cb;
      }
    }
  }
}

.more {
  --padding-top: 1rem;
  --padding-bottom: 1rem;
  margin: 0;
  height: auto;
  --color: #9d9d9d;
  font-size: 0.9375rem;
  font-weight: 600;
  letter-spacing: -0.4px;
}

.none {
  height: calc(100vh - 56px - 86px);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 600;
  color: #333;
}

.preview {
  max-width: 4.375rem;
  max-height: 4.375rem;
  min-width: 4.375rem;
  min-height: 4.375rem;
  width: 4.375rem;
  height: 4.375rem;
  margin: 0;
  border: 2px solid #333;
  box-sizing: content-box;
  border-radius: 50%;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}

@media (max-width: 330px) {
  .reseult {
    h4 {
      font-size: 12px;
    }
  }

  .preview {
    max-width: 60px;
    max-height: 60px;
    min-width: 60px;
    min-height: 60px;
    width: 60px;
    height: 60px;
  }

  .profile {
    .button-clear {
      font-size: 13px;
    }
  }
}


#headerInner{
  background: linear-gradient(to right,#5926C5, #8842E5);
}

#tbMypage{
  margin-top : 25px;

  td{
    color: #fff;
    padding-left: 10px;
  }

  tr:nth-child(2){
    font-size: 1rem;
  }
}


ion-list {
  margin: 3rem 0.5rem 1.5rem;
  height: 100%;

  ion-button{
    margin-bottom: 0.5rem;
    width: 100%;
    height: 55px;
    color:#222222;
    --background: #fff;
    border-radius: 7px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.08);
    font-size: 1rem;
    
  }

  div{
    margin: 0 10px 0 10px;
  }
}

span.ion-text-left {
  margin-right: auto;
}

.button-solid{
  --background-activated: linear-gradient(to right,#5926C5, #8842E5);

}

.ion-activated{
  color:#fff !important
}
