<ion-header>
  <div id="headerInner">
    <ion-toolbar>
      <ion-buttons class="back" slot="start">
        <ion-back-button text="" icon=""></ion-back-button>
      </ion-buttons>
      <!-- <ion-title>마이페이지</ion-title> -->
      <ion-buttons slot="end">
        <ion-button (click)="gosetting()">
          <img src="assets/imgs/setting.png" alt="">
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </div>
</ion-header>

<div *ngIf="user$ | async as user">
  <ion-item class="profile">
    <table id='tbMypage'>
      <tr>
        <td rowspan="3"><img style='width:100px;' src='../../../assets/imgs/addimgs/mybear.png' /></td>
        <td>{{user.nickname}}님</td>
      </tr>
      <tr>
        <td>{{user.email}}</td>
      </tr>
      <tr>
        <td>
          <img style='width:80px;' src='../../../assets/imgs/addimgs/myInfo.png' (click)="goedit(user.uid)" />
        </td>
      </tr>
    </table>
  </ion-item>
</div>

<ion-content>
  <div>
    <ion-list>
      <div>
        <ion-button (click)="goNextPage('home-add-mypage-progressing')">
          <span class="ion-text-left">검사 진행</span>
          <img src='../../../assets/imgs/addimgs/more2.png'>
        </ion-button>
      </div>
      <div>
        <ion-button (click)="goNextPage('home-add-draw-result')">
          <span class="ion-text-left">그림검사결과</span>
          <img src='../../../assets/imgs/addimgs/more2.png'>
        </ion-button>
      </div>
      <div>
        <ion-button (click)="goNextPage('home-add-mypage-survey')">
          <span class="ion-text-left">설문검사결과</span>
          <img src='../../../assets/imgs/addimgs/more2.png'>
        </ion-button>
      </div>
      <div>
        <ion-button (click)="goNextPage('home-add-mypage-reservation')">
          <span class="ion-text-left">예약내역</span>
          <img src='../../../assets/imgs/addimgs/more2.png'>
        </ion-button>
      </div>
      <div>
        <ion-button (click)="service()">
          <span class="ion-text-left">이용약관</span>
          <img src='../../../assets/imgs/addimgs/more2.png'>
        </ion-button>
      </div>
      <div>
        <ion-button (click)="personal()">
          <span class="ion-text-left">개인정보방침</span>
          <img src='../../../assets/imgs/addimgs/more2.png'>
        </ion-button>
      </div>
      <div>
        <ion-button (click)="refund()">
          <span class="ion-text-left">환불규정</span>
          <img src='../../../assets/imgs/addimgs/more2.png'>
        </ion-button>
      </div>
    </ion-list>
  </div>
</ion-content>