ion-badge {
  position: absolute;
  z-index: 9;
  right: 23px;
  min-width: 7px;
  min-height: 7px;
  max-width: 7px;
  max-height: 7px;
  width: 7px;
  height: 7px;
  padding-inline-start: 0;
  padding-inline-end: 0;
  --background: #f7bd00;
  top: 8px;
  --padding-top: 0;
  --padding-end: 0;
  --padding-bottom: 0;
  --padding-start: 0;
  --color: transparent;
  border-radius: 50%;
}
.bellWrap {
  position: relative;
}
ion-slide {
  padding: 18px 16px;
}
.sW1,
.sW2 {
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-radius: 20px;
  background-size: cover !important;
  background-position: center !important;
  //padding-left: 29px;
  padding-top: 10.44%;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.5);
}

.sW1 {
  background: url(../../assets/imgs/addimgs/draw_main_1.jpg) no-repeat;
}

.sW2 {
  background: url(../../assets/imgs/addimgs/draw_main_1.jpg) no-repeat;
}

ion-slides {
  height: 100%;
  ion-button {
    position: absolute;
    z-index: 999;
    z-index: 99999;
    bottom: 82px;
    width: calc(90% - 26px - 26px);
    left: 50%;
    transform: translateX(-50%);
    height: 40px;
    //box-shadow: 0 2px 12px rgba(0, 0, 0, 0.3);
  }

  ion-button.ion-activated {
    opacity: 0.9;
  }
}

.slideWrap {
  height: 95%;
  width: 97%;
  margin-top: 25px;
  text-align: center;
  h2 {
    margin: 0;
    font-size: 1.375rem;
    font-weight: 600;
    color: #222222;
    //text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 7.77%;
    
    #lineLabel{
      border-bottom: solid 2px #5926C5;
      width: 50%;
      margin: 15px auto;
    }
  }

  span {
    display: block;
    font-size: 1.1rem;
    //font-weight: 600;
    line-height: 1.863rem;
    letter-spacing: -0.4px;
    //text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    color: #555555;
    .break {
      min-height: 1.563rem;
    }
  }
}

@media (max-height: 670px) {
  ion-slides {
    ion-button {
      bottom: 3.125rem;
    }

    ion-slide {
      padding: 1rem;
    }
  }

  .grbtn {
    height: 3.125rem !important;
  }
}

@media (max-width: 330px) {
  .slideWrap {
    span {
      // font-size: 0.75rem;
      line-height: 1.125rem;
      .break {
        min-height: 1.125rem;
      }
    }
  }
}
ion-content{
  --background : none;
}
.grbtn{
  --background : #5926C5 !important;
  color: #fff;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.5);
  border-radius: 30px;
}
.grbtn-redy{
  --background : #707070 !important;
  color: #fff;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.5);
  border-radius: 30px;
}

.iconR{
  width: 30px;
  height: 30px;
  margin:30px 10px 0 0;
  color:#5926c542;
  float:right;
}


.iconL{
  width: 30px;
  height: 30px;
  margin:30px 0 0 10px;
  color:#5926c542;
  float:left;
}