<ion-header>
  <div id="headerInner">
    <!-- <div id="headerInner" *ngIf="alarms$ | async"> -->
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="gomypage()">
          <img src="assets/imgs/addimgs/user.png" alt="">
        </ion-button>
      </ion-buttons>
      <ion-title>그림 심리 상담</ion-title>
      <ion-buttons slot="end" class="bellWrap">
        <ion-button (click)="gonotice()">
          <img src="assets/imgs/addimgs/bell.png" alt="">
        </ion-button>
        <ion-badge *ngIf="(alarms$ | async)?.length > 0">z</ion-badge>

      </ion-buttons>
    </ion-toolbar>
    <!-- <ion-badge *ngIf="(alarms$ | async)?.length > 0">z</ion-badge> -->
  </div>
</ion-header>

<ion-content>
  <ion-slides  #slides pager>
    <ion-slide>
      <div class="slideWrap">
        <div class="sW1">
          <div>
            <h2>
              HTP 검사
              <div id='lineLabel'></div>
            </h2>
            <span>
              검사자 스스로가 언어로 표현할 필요없이<br>
              집(house), 나무(tree), 사람(person)을 그려,<br>
              개인의 성격적 측면들이 자유로운<br>
              표현을 통해 드러납니다.<br>
            </span>
          </div>
          <div>
            <ion-icon class="iconR" name="arrow-forward-circle-outline" (click)='nextSlide()'></ion-icon>
          </div>
        </div>
      </div>
      <ion-button class="grbtn" expand="block" (click)="gohowto('HTP')">
        검사요청
      </ion-button>
    </ion-slide>
    
    <ion-slide>
      <div class="slideWrap">
        <div class="sW2">
          <div>
            <h2>
              동적가족화 검사
              <div id='lineLabel'></div>
            </h2>
            <span>
              본인과 가장 가까운 사이 '가족'<br>
              부모가 본인의 성격 형성의 중요한 역할을<br>
              해줍니다. 그림을 통해 가족관계를<br>
              표현을 통해 드러납니다.<br>
            </span>
          </div>
          <div>
            <ion-icon class="iconL" name="arrow-back-circle-outline" (click)='preSlide()'></ion-icon>
          </div>
          <!-- <div>
            <ion-icon class="iconR" name="arrow-forward-circle-outline" (click)='nextSlide()'></ion-icon>
          </div> -->
        </div>
      </div>
      <ion-button class="grbtn" expand="block" (click)="gohowto('동적가족화')">
        검사요청
      </ion-button>
    </ion-slide>

    <!-- <ion-slide>
      <div class="slideWrap">
        <div class="sW2">
          <div>
            <h2>
              우울증 검사
              <div id='lineLabel'></div>
            </h2>
            <span>
              주변 스트레스로 인해 나도 모르게<br>
              우울한 일상을 보내시나요?<br>
              나도 몰랐던 우울증 정도를<br>
              그림심리를 통해 알아볼 수 있습니다.<br>
            </span>
          </div>
          <div>
            <ion-icon class="iconL" name="arrow-back-circle-outline" (click)='preSlide()'></ion-icon>
          </div>
          <div>
            <ion-icon class="iconR" name="arrow-forward-circle-outline" (click)='nextSlide()'></ion-icon>
          </div>
        </div>
      </div>
      <ion-button class="grbtn-redy"  expand="block" (click)="gohowto('DAS')">
        준비중
      </ion-button>
    </ion-slide>

    <ion-slide>
      <div class="slideWrap">
        <div class="sW2">
          <div>
            <h2>
              스트레스 검사
              <div id='lineLabel'></div>
            </h2>
            <span>
              평소 두통이나 짜증이 난다면<br>
              그림을 그리는 동안<br>
              스트레스를 정도를 알아보고<br>
              해소되는 시간을 가져보세요.
            </span>
          </div>
          <div>
            <ion-icon class="iconL" name="arrow-back-circle-outline" (click)='preSlide()'></ion-icon>
          </div>
        </div>
      </div>
      <ion-button class="grbtn-redy" expand="block" (click)="gohowto('STRESS')">
        준비중
      </ion-button>
    </ion-slide> -->

  </ion-slides>
</ion-content>