<ion-header>
  <div id="headerInner">
    <!-- <div id="headerInner" *ngIf="alarms$ | async"> -->
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="gomypage()">
          <img src="assets/imgs/addimgs/user.png" alt="">
        </ion-button>
      </ion-buttons>
      <ion-title>온 아트테라피</ion-title>
      <ion-buttons slot="end" class="bellWrap">
        <ion-button (click)="gonotice()">
          <img src="assets/imgs/addimgs/bell.png" alt="">
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </div>
</ion-header>


<ion-content>
  <iframe width="100%" height="100%" [src]="homepage" frameborder="0" allowfullscreen></iframe>
</ion-content>
