<ion-header>
  <div id="headerInner">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="gomypage()">
          <img src="assets/imgs/addimgs/user.png" alt="">
        </ion-button>
      </ion-buttons>
      <ion-title>설문지 검사</ion-title>
      <ion-buttons slot="end" class="bellWrap">
        <ion-button (click)="gonotice()">
          <img src="assets/imgs/addimgs/bell.png" alt="">
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </div>
</ion-header>

<ion-content>
  <div>
    <table>
      <tr >
        <th>
          <div style='padding:9px;'>
            <img src='assets/imgs/addimgs/survey01.png'>
          </div>
        </th>
      </tr>
      <tr>
        <td>
          <div>
            <img src='assets/imgs/addimgs/depression.png' (click)='goSurveyDep()'>
          </div>
        </td>
        <td>
          <div>
            <img src='assets/imgs/addimgs/stress.png' (click)='goSurveySts()'>
          </div>
        </td>
      </tr>
      <!-- <tr>
        <th>
          <div>
            <img src='assets/imgs/addimgs/personality_test.png'>
          </div>
        </th>
      </tr> 
      <tr>
        <td>
          <div (click)="goSurveyDep()">
            <img src='assets/imgs/addimgs/depression.png'>
          </div>
        </td>
        <td>
          <div >
            <img src='assets/imgs/addimgs/stress.png'>
          </div>
        </td>
      </tr>-->
      <!-- <tr>
        <th>
          <div style='padding:9px;'>
            <img src='assets/imgs/addimgs/personality_test.png'>
          </div>
        </th>
      </tr>
      <tr (click)='goReady()'>
        <td>
          <div >
            <img src='assets/imgs/addimgs/mbti.png'>
          </div>
        </td>
        <td>
          <div >
            <img src='assets/imgs/addimgs/mmpi.png'>
          </div>
        </td>
        <td>
          <div >
            <img src='assets/imgs/addimgs/baby.png'>
          </div>
        </td>
      </tr> -->
    </table>
  </div>
</ion-content>
