<ion-header>
  <div id="headerInner">
    <ion-toolbar>
      <ion-buttons class="back" slot="start">
        <ion-back-button defaultHref="/tabs/home-add-mypage" text="" icon=""></ion-back-button>
      </ion-buttons>
      <ion-title>그림 검사 결과</ion-title>
    </ion-toolbar>
  </div>
</ion-header>

<ion-content>
  <div *ngIf="user$ | async as user">
  <div *ngIf="counselors$|async as counselors">
      <ion-list>
        <ion-item class="listT">
          <h3>
            검사내역
          </h3>
          <span slot="end">
            총 {{counselors.length}}번 검사
          </span>
        </ion-item>

        <div *ngFor="let item of counselors; let i = index">
          <ion-item class="reseult" *ngIf="2 > i || moreSeeSwitch">
            <div class='cardDiv'>
              <ion-card class="ionCard">
                  <img src="{{item.imageList[0].url}}" alt="">
              </ion-card>
              <span>
                <div class='resltbtn'>
                  <ion-datetime display-format='YYYY년MM월DD일 검사' value='{{item.dateCreated}}' readonly></ion-datetime>
                  <ion-button class='pbtn' *ngIf="!item.analysisSwitch && !item?.failAnalyze">
                    분석중
                  </ion-button>
                  <ion-button  class='pbtn'  *ngIf="!item.analysisSwitch && item?.failAnalyze">
                    분석실패
                  </ion-button>
                  <div *ngIf="item.analysisSwitch">
                    <ion-button *ngIf="item.pdfUrl" class='pbtn'  (click)="down(item)">
                      다운
                    </ion-button>
                    <ion-button  class='pbtn'  (click)="goresult(item.counselorId)">
                     자세히 보기
                    </ion-button>
                  </div>
                </div>
              </span>
            </div>
          </ion-item>
        </div>

        <ion-button class="more" fill="clear" expand="block" *ngIf="counselors.length > 2 && !moreSeeSwitch"
          (click)="switchChange()">
          + 더보기
        </ion-button>
      </ion-list>

      <div class="none" *ngIf="!counselors">
        검사내역이 없습니다.
      </div>
    </div>
  </div>
</ion-content>