  
   #tbMypage{
    margin-top : 25px;
  
    td{
      color: #fff;
      padding-left: 10px;
    }
  
    tr:nth-child(2){
      font-size: 0.8rem;
    }
  }

.profile {
    height: 190px;
    background: linear-gradient(to right,#5926C5, #8842E5);
    border-bottom: 1px solid #eeeeee;
  
    --padding-start: 1.563rem;
    --padding-end: 1.563rem;
    --padding-top: 1.2rem;
    --padding-bottom: 1.2rem;
  
    .button-clear {
      --color: #9d9d9d;
      font-size: 0.9375rem;
      font-weight: 600;
      letter-spacing: -0.4px;
      margin: 0;
      height: auto;
      --padding-start: 0;
      --padding-end: 0;
      --border-radius: 0;
    }
  }
  
  .listT {
    --padding-start: 1.563rem;
    --padding-end: 1.563rem;
    --padding-top: 1.063rem;
    --padding-bottom: 1.063rem;
    background-color:#fff;
    border-radius:10px;
    margin: 30px 10px 0 10px;
  
    h3 {
      margin: 0;
      font-size: 1rem;
      color: #333333;
      font-weight: 600;
      letter-spacing: -0.4px;
    }
  
    span {
      font-size: 1rem;
      font-weight: 600;
      color: #333333;
      letter-spacing: -0.4px;
      margin: 0;
    }
  }
  
  .reseult {
    h4 {
      margin: 0;
      font-weight: 600;
      color: #333;
      letter-spacing: -0.4px;
      margin-bottom: 1.2rem;
      text-align: center;
      font-size: 0.9375rem;
    }
  
    ion-label {
      margin: 0;
  
      div {
        display: flex;
        align-items: center;
        justify-content: center;
  
        .button-outline {
          margin: 0;
          padding: 0;
          --border-radius: 14px;
          height: 1.75rem;
          font-size: 0.875rem;
          font-weight: 600;
          --padding-top: 0.375rem;
          --padding-start: 1.25rem;
          --padding-end: 1.25rem;
          --padding-bottom: 0.375rem;
        }
        .view.ion-activated,
        .down.ion-activated {
          opacity: 0.8;
        }
  
        .view {
          margin-right: 0.5rem;
        }
      }
    }
  }
  
  .more {
    --padding-top: 1rem;
    --padding-bottom: 1rem;
    margin: 0;
    height: auto;
    --color: #9248EC;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: -0.4px;
  }
  
  .none {
    height: calc(100vh - 56px - 86px);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 600;
    color: #333;
  }
  
  .preview {
    max-width: 4.375rem;
    max-height: 4.375rem;
    min-width: 4.375rem;
    min-height: 4.375rem;
    width: 4.375rem;
    height: 4.375rem;
    margin: 0;
    border: 2px solid #333;
    box-sizing: content-box;
    border-radius: 50%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }
  
  @media (max-width: 330px) {
    .reseult {
      h4 {
        font-size: 12px;
      }
    }
  
    .preview {
      max-width: 60px;
      max-height: 60px;
      min-width: 60px;
      min-height: 60px;
      width: 60px;
      height: 60px;
    }
  
    .profile {
      .button-clear {
        font-size: 13px;
      }
    }
  }
  
  ion-list {
    height: 100%;
  
    div{
      margin: 0 auto;
      text-align: center;
    }
  }
  
  .ionCard{
    height: 65%;
    width: 330px;
}

.cdbtn{
    position: relative;
    background-color: #fff;
    border-radius: 15px;
    margin: 0 30px 0 30px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.5);
    top:-40px;
    color: #222;
    --background : #fff;

    .cdImg{
        margin-left: 150px;
    }
}

ion-content{
    --background:none;
}

.list-ios{
    background:none;
}

.cardWrap{
    height: 100%;
    width: 97%;
    margin:0 auto;
    padding-top: 20px;
}

.resltbtn{
    width: 80%;
    background-color:#fff;
    position: relative;
    top: -40px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.pbtn{
  --background:linear-gradient(to right,#5926C5, #8842E5 );
  --color:#fff;
}

.resltbtn{
  .ion-activated{
    --background-activated : #fff;
    --color : #9248EC;
    border: #7938DB solid;
    border-radius: 20px;
  }
}
.cardDiv{
  height: 280px;
}

@media(min-height:1024px){
  .cardDiv{
    height: 400px;
  }

  .ionCard{
    width: 700px;
  }
}

.datetime-text{
  word-spacing: -5px;
}

ion-datetime{
  font-size: 1rem;

}
