<ion-header>
  <div id="headerInner">
    <ion-toolbar>
      <ion-button slot="end" fill="clear" (click)="dismiss()">
        <img src="assets/imgs/nav_close.png" alt="">
      </ion-button>

      <ion-title>개인정보 취급 방침</ion-title>
    </ion-toolbar>
  </div>
</ion-header>

<ion-content>
  <div *ngIf="info$ | async as info">
    {{info.privacy}}
  </div>
</ion-content>