<ion-header>
  <div id="headerInner">
    <ion-toolbar>
      <ion-buttons class="back" slot="start">
        <ion-back-button text="" icon=""></ion-back-button>
      </ion-buttons>
      <ion-title>예약 신청 작성</ion-title>
    </ion-toolbar>
  </div>
</ion-header>

<ion-content>
      <div class="slideWrap">
        <div class="sW1">
          <div class="sW2"></div>
          <div class="divList">
            
            <table>
              <th class="title" colspan="2">{{isttNm}}<br></th>
              <tr>
                <td colspan="2">
                  <div class="validate" style="text-align: center;">모두 입력하여 신청버튼을 눌러주세요.</div>
                </td>
              </tr>
              <tr>
                <td width="20%">예약<br>일자</td>
                <td> 
                      <ion-datetime [(ngModel)]='rsvtDate' displayFormat="YYYY-MM-DD" [min]='minDate' [max]='maxDate' 
                                    placeholder='예약일을 선택하세요.' done-text='완료' cancel-text='취소'>
                      </ion-datetime>
                </td>
            </tr>
              <tr>
                  <td>예약<br>시간</td>
                  <td>
                      <ion-datetime  [(ngModel)]='rsvtTime'  display-format="h:mm A" picker-format="h:mm A" minuteValues="0,15,30,45"   placeholder='예약시간을 선택하세요.'
                                    done-text='완료' cancel-text='취소'>
                      </ion-datetime>
                  </td>
              </tr>
              <tr>
                  <td>이름</td>
                  <td> <ion-input  [(ngModel)]='rsvtName' (ionChange)='nicknamewRegularExpression($event)' placeholder="이름"></ion-input>
                      <div class="validate" *ngIf="rsvtName &&!nicknameExpressionChk">
                        2자 이상 10자 이하로 입력해주세요.
                      </div>
                  </td>
              </tr>
              <tr>
                  <td>연락처</td>
                  <td> 
                      <ion-input class="w26" type='tel' [(ngModel)]='rsvtPnumber1' maxlength="3"
                                placeholder="010" required pattern="[0-9]{2,3}" (ionChange)='phoneRegularExpression($event)'></ion-input>
                       - <ion-input class="w29" type='tel' [(ngModel)]='rsvtPnumber2' maxlength="4" 
                                placeholder="1234" required pattern="[0-9]{3,4}" (ionChange)='phoneRegularExpression($event)'></ion-input>
                       - <ion-input class="w29" type='tel' [(ngModel)]='rsvtPnumber3' maxlength="4" 
                                placeholder="5678" required pattern="[0-9]{4}" (ionChange)='phoneRegularExpression($event)'></ion-input>
                      <div class="validate" *ngIf="!phoneExpressionChk">
                        숫자로 정확히 입력하세요.
                      </div>                       
                    </td>
              </tr>
              <tr>
                  <td>상담<br>목적</td>
                  <td> <ion-input  [(ngModel)]='rsvtGole'  placeholder="종합검사,심리진단치료 기타" (ionChange)='goleRegularExpression($event)'></ion-input>
                        <div class="validate" *ngIf="rsvtGole && !goleRegularExpressionChk">
                          2자 이상 10자 이하로 입력해주세요.
                        </div>
                  </td>
              </tr>
              <!-- <tr>
                  <td>센터선택</td>
                  <td> 
                        <ion-select [interfaceOptions]="yearOptions" [(ngModel)]="rsvtCenter" placeholder="센터 선택"
                                    okText="선택" cancelText="취소">
                              <ion-select-option *ngFor="let center of centerList">{{center}}</ion-select-option>
                        </ion-select>
                    <ion-input  [(ngModel)]='rsvtCenter'  placeholder="센터선택"></ion-input>
                  </td>
              </tr> -->
              <tr>
                <td colspan="2">
                  <div class="liner"></div>
                </td>
              </tr>
              <tr >
                <td colspan='2'>
                    <img src='../../../../assets/imgs/addimgs/attn_mark.png'>
                </td>
              </tr>
            </table>
          </div>
          <ion-button class="grbtn" expand="block" (click)='rsvtSet()'
                      [disabled]='!rsvtDate || !rsvtTime || !rsvtName || !rsvtPnumber1||
                                  !rsvtPnumber2 || !rsvtPnumber3 || !rsvtGole'>
            예약 신청 하기
          </ion-button>
        </div>
      </div>
</ion-content>