ion-list {
  height: 100%;
  align-items: center;
  overflow: hidden;
}

ion-input{
  border: 1px solid #d1d1d1;
  border-radius: 2px;
  text-align: left;
}

ion-input:first-of-type {
  margin-bottom: 1.125rem;
}

.grbtn {
  margin-bottom: 1rem;
}

ion-slides {
    height: 100%;
    ion-button {
      position: absolute;
      z-index: 999;
      z-index: 99999;
      bottom: 125px;
      width: calc(90% - 26px - 26px);
      left: 50%;
      transform: translateX(-50%);
      //box-shadow: 0 2px 12px rgba(0, 0, 0, 0.3);
    }
  
    ion-button.ion-activated {
      opacity: 0.9;
    }
  }
  ion-slide {
    padding: 18px 16px 70px;
  }
  .sW1 {
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    background-color: #fff;
    background-position: center !important;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.5);
    overflow: auto;

    .divList{
      margin: 20px 20px 0 20px;
    }

  }
    
  .slideWrap {
    height: 85%;
    width: 90%;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
    h2 {
      margin: 10px;
      font-size: 1.375rem;
      font-weight: 600;
      color: #222222;
      //text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
      margin-bottom: 7.77%;
    }
  
    span {
      display: block;
      font-size: 0.975rem;
      line-height: 1.863rem;
      letter-spacing: -0.4px;
      text-align: left;
      margin: 0 15px 0 15px;
      color: #555555;
      .break {
        min-height: 1.563rem;
      }
    }
  }
  
  @media (max-height: 670px) {
      ion-button {
        bottom: 3.125rem;
      }
  
    .grbtn {
      height: 3.125rem !important;
    }

    .divList{
      overflow: scroll;
      padding-right: 10px;
      width: 300px;
      height: 400px;
    }

    .w29{
      width: 30% !important;
    }
    
    .w26{
      width: 28% !important;
    }
  }
  
  @media (max-width: 330px) {
    .slideWrap {
      span {
        // font-size: 0.75rem;
        line-height: 1.125rem;
        .break {
          min-height: 1.125rem;
        }
      }
    }
  }

  ion-content{
    --background : none;
  }

  .grbtn{ 
    width: 80%;
    --background: #5926C5 !important;
    color: #fff;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    margin: 0 auto;
  }

  ion-label{
    text-align: center;
    margin: 0 20px 1.125rem 0;
    font-size: 18px;
  }
  
.liner{
  border: solid 0.1px #aaa;
  margin: 0 auto;
  opacity: 50%;
}

.reNtc{
  font-size: 0.8rem;
  text-align: left;
  margin-top:20px;
}

img{
  margin-top: 5px;
}

td:first-child{
  padding-bottom: 1.125rem;
  font-size: 1.15rem;
  text-align: left;
}

.sc-ion-input-ios-h{
  display: inline-block;
}

.sc-ion-input-ios-h.has-focus{
  border: 1px solid #5926C5 !important;
}

.w29{
  width: 29%;
}

.w26{
  width: 26%;
}


ion-toolbar{
  background:none;
}

ion-datetime{
  border: 1px solid #d1d1d1;
  border-radius: 2px;
  text-align: left;
  margin-bottom: 1.125rem;
  font-size: 1rem;
  --padding-start :10px;
  --padding-top:10px;
  --padding-bottom:10px;
}

ion-select{
  font-weight: bold;
  font-size: 0.9rem;
  text-align: left;
  padding-left: 10px;
  margin-bottom: 15px;
}

.title{
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
  color:#5926C5;
  padding-bottom:15px;
}