ion-select {
  border: 1px solid #d4d4d4;
  border-radius: 5px;
  --padding-top: 10px;
  --padding-end: 16px;
  --padding-bottom: 10px;
  font-size: 1rem;
  font-weight: 600;
  color: #333333;
  --placeholder-color: #909090;
  --placeholder-opacity: 1;
  margin-bottom: 18px;
}

ion-select::after {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background: url(../../../assets/imgs/addimgs/more2.png) no-repeat;
  background-size: 24px;
  background-position: center;
  margin-right: 2px;
}

ion-select::part(icon) {
  display: none;
}

ion-input {
  margin-bottom: 18px;
  border: 1px solid #d4d4d4;
  border-radius: 5px;
}

h2 {
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
  color: #333333;
  margin-bottom: 1rem;
}

ion-list {
  padding: 40px 24px;
}

ion-toolbar {
  ion-button {
    --color: #fff;
    font-weight: 600;
  }
}

[disabled] {
  --background: transparent;
}

.sc-ion-input-ios-h.has-focus{
  border:solid 1px #5926C5;
}