<ion-header>
  <div id="headerInner">
    <ion-toolbar>
      <ion-buttons class="back" slot="start">
        <ion-back-button text="" icon=""></ion-back-button>
      </ion-buttons>
      <ion-title>내 정보 수정</ion-title>
      <ion-buttons slot="end">
        <ion-button
          [disabled]='!user.nickname || !user.birth || !user.phone  || !phoneExpressionChk || !nicknameExpressionChk'
          (click)="editInfo()">
          저장
        </ion-button>
      </ion-buttons>
    </ion-toolbar>

  </div>
</ion-header>

<ion-content>
  <div *ngIf="user$ | async as user">
    <ion-list>
      <h2>이름 </h2>
      <ion-input placeholder="이름을 입력해주세요." minlength="2" maxlength="10" [(ngModel)]="user.nickname" type='text'
        (ionChange)="nicknamewRegularExpression()"></ion-input>
      <span class="validate" *ngIf="!nicknameExpressionChk">
        이름은 2자 이상 10자 이하로 입력해주세요.
      </span>

      <h2>출생연도</h2>
      <ion-select [interfaceOptions]="yearOptions" placeholder="출생연도를 선택해주세요." [(ngModel)]="user.birth" okText="선택"
        cancelText="취소">
        <ion-select-option *ngFor="let year of yearList">{{year}}</ion-select-option>
      </ion-select>
      <span class="validate" *ngIf="!user.birth">
        출생연도를 선택해주세요.
      </span>

      <h2>
        핸드폰번호
      </h2>
      <ion-input maxlength="11" minlength="10" placeholder="핸드폰번호를 입력해주세요." (ionChange)="phoneRegularExpression()"
        type="tel" [(ngModel)]="user.phone">
      </ion-input>
      <span class="validate" *ngIf="!phoneExpressionChk">
        핸드폰번호 형식을 맞춰 입력해주세요.
      </span>
    </ion-list>
  </div>
</ion-content>