<ion-header>
  <div id="headerInner">
    <ion-toolbar>
      <ion-buttons class="back" slot="start">
        <ion-button (click)="warning()">
          <img src="assets/imgs/nav_back.png" alt="">
        </ion-button>
      </ion-buttons>
      <ion-title>회원가입</ion-title>
    </ion-toolbar>
  </div>
</ion-header>

<ion-content>
  <ion-list>
    <ion-input placeholder="이메일을 입력해주세요." [(ngModel)]="email" type="email" (ionChange)="emailRegularExpression()">
    </ion-input>
    <span class="validate" *ngIf="email && !emailExpressionChk">
      이메일 형식을 맞춰 입력해주세요.
    </span>
    <ion-input placeholder="비밀번호를 입력해주세요." minlength="6" maxlength="20" [(ngModel)]="password" type="password"
      (ionChange)="pwRegularExpression()">
    </ion-input>
    <span class="validate" *ngIf="password && !pwExpressionChk">
      비밀번호는 영문+숫자 6글자 이상 입력해주세요.
    </span>
    <ion-input placeholder="비밀번호를 다시 입력해주세요." minlength="6" maxlength="20" [(ngModel)]="confirm_password"
      type="password" (ionChange)="pwRegularExpression()"></ion-input>
    <span class="validate" *ngIf=" confirm_password && matchingPasswords() && !passwordCheck">
      비밀번호가 일치하지 않습니다.
    </span>
    <!-- <span class="validate" *ngIf="confirm_password && !pwExpressionChk">
      비밀번호는 영문+숫자 6글자 이상 입력해주세요.
    </span> -->
    <ion-input placeholder="이름을 입력해주세요." minlength="2" maxlength="10" [(ngModel)]="nickname" type="text" #inputId
      (ionChange)="nicknamewRegularExpression($event)"></ion-input>
    <span class="validate" *ngIf="nickname &&!nicknameExpressionChk">
      이름은 2자 이상 10자 이하로 입력해주세요.
    </span>

    <ion-select [interfaceOptions]="yearOptions" [(ngModel)]="birth" placeholder="출생연도를 선택해주세요." okText="선택"
      cancelText="취소">
      <ion-select-option *ngFor="let year of yearList">{{year}}</ion-select-option>
    </ion-select>
    <span class="validate" *ngIf="birth && !birth">
      출생연도를 선택해주세요.
    </span>
    <ion-input maxlength="11" minlength="10" placeholder="핸드폰번호 '-'없이 숫자만 입력해주세요." type="tel" [(ngModel)]="phone"
      (ionChange)="phoneRegularExpression()"></ion-input>
    <span class="validate" *ngIf="!phoneExpressionChk">
      핸드폰번호 형식을 맞춰 입력해주세요.
    </span>
    <div class="checkWrap">
      <ion-item>
        <ion-checkbox slot="start" [(ngModel)]="agreeAllTerms" (ionChange)="checkAgreeAll(0)"></ion-checkbox>
        <ion-label>
          전체동의
        </ion-label>
      </ion-item>

      <ion-item>
        <div>

          <ion-checkbox slot="start" [(ngModel)]="agree.serviceAgree" (ionChange)="checkAgreeAll(1)"></ion-checkbox>
          <ion-label>
            서비스 이용 약관
          </ion-label>
        </div>
        <ion-button fill="clear" (click)="service()">
          전체보기
        </ion-button>
      </ion-item>

      <ion-item>
        <div>
          <ion-checkbox slot="start" [(ngModel)]="agree.personalAgree" (ionChange)="checkAgreeAll(2)"></ion-checkbox>
          <ion-label>
            개인정보 수집 및 이용
          </ion-label>
        </div>
        <ion-button fill="clear" (click)="personal()">
          전체보기
        </ion-button>
      </ion-item>

      <ion-item>
        <ion-checkbox slot="start" [(ngModel)]="agree.marketing" (ionChange)="checkAgreeAll(3)"></ion-checkbox>
        <ion-label>
          마케팅 수신동의 (선택)
        </ion-label>
      </ion-item>
    </div>
    <span class="validate v2" *ngIf="(!agree.serviceAgree || !agree.personalAgree) && firstChk">
      서비스 이용약관, 개인정보 수집 및 이용은 필수 동의사항입니다.
    </span>

    <ion-button class="reGrbtn" expand="block"
      [disabled]="!pwExpressionChk || !email || !password || !confirm_password || !nickname || !birth || !phone || !phoneExpressionChk || !nicknameExpressionChk || !passwordCheck || !emailExpressionChk"
      (click)="goLogin()">
      회원가입
    </ion-button>
  </ion-list>

</ion-content>