ion-content{
  --background:linear-gradient( to top, #5926C5, #8842E5);
}

ion-list {
  //background: linear-gradient( to top, #5926C5, #8842E5);
  margin: 1.5rem 3rem 1.5rem;
  height: 100%;
  ion-input {
    margin-bottom: 1rem;
    color:#fff;
  }
}

ion-select {
  border-bottom: 1px solid #fff;
 // border-radius: 4px;
  --padding-top: 1.063rem;
  --padding-end: 1rem;
  --padding-bottom: 1rem;
  --padding-start: 1.575rem;
  font-size: 0.875rem;
  font-weight: 600;
  color: #fff;
  --placeholder-color: #AAAAAA;
  --placeholder-opacity: 1;
  margin-bottom: 1.125rem;
}

ion-select::after {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background: url(../../../../assets/imgs/addimgs/white_more.png) no-repeat;
  background-size: 24px;
  background-position: center;
  margin-right: 2px;
}

ion-select::part(icon) {
  display: none;
}

ion-checkbox {
  --border-radius: 2px;
  --border-width: 1px;
  --border-style: solid;
  --border-color: #e8e8e8;
  --background: #fff;
  --size: 1.125rem;
  width: 1.125rem;
  height: 1.125rem;
  margin: 0;
  margin-right: 0.6875rem;
  --background-checked: center / cover no-repeat url(../../../../assets/imgs/addimgs/white_chbg.png);
  --border-color-checked: transparent;
  --checkmark-color: transparent;
}

ion-item {
  --padding-top: 0.6875rem;
  --padding-bottom: 0.6875rem;
  div {
    display: flex;
    align-items: center;
  }

  .button-clear {
    position: absolute;
    right: 0;
    z-index: 999;
    font-size: 0.75rem;
    --color: #fff;
    text-decoration-line: underline;
    font-weight: 600;
  }
}

ion-label {
  margin: 0;
  font-weight: 600;
  font-size: 0.75rem !important;
  color: #fff !important;
}

.checkWrap {
  margin-bottom: 1.75rem;
}

.v2 {
  margin-top: -1.25rem;
}

#headerInner{
  background-color: #8842E5;
}

ion-content{
  --background-color: #5926C5 !important;
}

.list-ios{
  background: none;
}