<ion-header>
  <div id="headerInner">
    <ion-toolbar>
      <ion-buttons class="back" slot="start">
        <ion-back-button text="" icon=""></ion-back-button>
      </ion-buttons>
      <ion-title>우울증 설문지 검사</ion-title>
    </ion-toolbar>
  </div>
</ion-header>

<ion-content>
  <ion-slides>
    <ion-slide>
      <div class="slideWrap">
        <div class="sW1">
            <ion-list>
                  <ion-label id = "top">1.평소에는 아무렇지도 않던 일들이 괴롭고 귀찮게 느껴졌다.</ion-label><br><br>
                  <ion-radio-group>
                    <ion-item *ngFor="let entry of ansList01">
                      <ion-radio slot="start" (click)="fnSelect(entry.value, 0)"></ion-radio>
                      <ion-label class="radiLabel">{{entry.answer}}</ion-label>
                    </ion-item>
                  </ion-radio-group>
                  <br>
                  <ion-label>2.먹고 싶지 않고 식욕이 없다.</ion-label><br><br>
                  <ion-radio-group>
                    <ion-item *ngFor="let entry of ansList01">
                      <ion-radio slot="start"(click)="fnSelect(entry.value, 1)"></ion-radio>
                      <ion-label class="radiLabel">{{entry.answer}}</ion-label>
                    </ion-item>
                  </ion-radio-group>
                  <br>
                  <ion-label>3.어느 누가 도와준다 하더라도 나의 울적한 기분을 떨쳐 버릴 수 없을 것 같다.</ion-label><br><br>
                  <ion-radio-group>
                    <ion-item *ngFor="let entry of ansList01">
                      <ion-radio slot="start" (click)="fnSelect(entry.value, 2)"></ion-radio>
                      <ion-label class="radiLabel">{{entry.answer}}</ion-label>
                    </ion-item>
                  </ion-radio-group>
                  <br>
                  <ion-label>4. 무슨 일을 하든 정신을 집중하기가 힘들었다.</ion-label><br><br>
                  <ion-radio-group>
                    <ion-item *ngFor="let entry of ansList01">
                      <ion-radio slot="start" (click)="fnSelect(entry.value, 3)"></ion-radio>
                      <ion-label class="radiLabel">{{entry.answer}}</ion-label>
                    </ion-item>
                  </ion-radio-group>
                  <br>
                  <ion-label>5. 비교적 잘 지냈다.</ion-label><br><br>
                  <ion-radio-group>
                    <ion-item *ngFor="let entry of ansList02">
                      <ion-radio slot="start" (click)="fnSelect(entry.value, 4)"></ion-radio>
                      <ion-label class="radiLabel">{{entry.answer}}</ion-label>
                    </ion-item>
                  </ion-radio-group>
                  <br>
                  <ion-label>6. 상당히 우울했다.</ion-label><br><br>
                  <ion-radio-group>
                    <ion-item *ngFor="let entry of ansList01">
                      <ion-radio slot="start" (click)="fnSelect(entry.value, 5)"></ion-radio>
                      <ion-label class="radiLabel">{{entry.answer}}</ion-label>
                    </ion-item>
                  </ion-radio-group>
                  <br>
                  <ion-label>7. 모든 일들이 힘들게 느껴졌다.</ion-label><br><br>
                  <ion-radio-group>
                    <ion-item *ngFor="let entry of ansList01">
                      <ion-radio slot="start" (click)="fnSelect(entry.value, 6)"></ion-radio>
                      <ion-label class="radiLabel">{{entry.answer}}</ion-label>
                    </ion-item>
                  </ion-radio-group>
                  <br>
                  <ion-label>8. 앞일이 암담하게 느껴졌다.</ion-label><br><br>
                  <ion-radio-group>
                    <ion-item *ngFor="let entry of ansList01">
                      <ion-radio slot="start" (click)="fnSelect(entry.value, 7)"></ion-radio>
                      <ion-label class="radiLabel">{{entry.answer}}</ion-label>
                    </ion-item>
                  </ion-radio-group>
                  <br>
                  <ion-label>9. 지금까지의 내 인생은 실패작이라는 생각이 들었다.</ion-label><br><br>
                  <ion-radio-group>
                    <ion-item *ngFor="let entry of ansList01">
                      <ion-radio slot="start" (click)="fnSelect(entry.value, 8)"></ion-radio>
                      <ion-label class="radiLabel">{{entry.answer}}</ion-label>
                    </ion-item>
                  </ion-radio-group>
                  <br>
                  <ion-label>10. 적어도 보통 사람들 만큼의 능력은 있었다고 생각한다.</ion-label><br><br>
                  <ion-radio-group>
                    <ion-item *ngFor="let entry of ansList02">
                      <ion-radio slot="start" (click)="fnSelect(entry.value, 9)"></ion-radio>
                      <ion-label class="radiLabel">{{entry.answer}}</ion-label>
                    </ion-item>
                  </ion-radio-group>
                  <br>
                  <ion-label >11. 잠을 설쳤다(잠을 잘 이루지 못했다).</ion-label><br><br>
                  <ion-radio-group>
                    <ion-item *ngFor="let entry of ansList01">
                      <ion-radio slot="start" (click)="fnSelect(entry.value, 10)"></ion-radio>
                      <ion-label class="radiLabel">{{entry.answer}}</ion-label>
                    </ion-item>
                  </ion-radio-group>
                  <br>
                  <ion-label>12. 두려움을 느꼈다.</ion-label><br><br>
                  <ion-radio-group>
                    <ion-item *ngFor="let entry of ansList01">
                      <ion-radio slot="start" (click)="fnSelect(entry.value, 11)"></ion-radio>
                      <ion-label class="radiLabel">{{entry.answer}}</ion-label>
                    </ion-item>
                  </ion-radio-group>
                  <br>
                  <ion-label>13. 평소에 비해 말수가 적었다.</ion-label><br><br>
                  <ion-radio-group>
                    <ion-item *ngFor="let entry of ansList01">
                      <ion-radio slot="start" (click)="fnSelect(entry.value, 12)"></ion-radio>
                      <ion-label class="radiLabel">{{entry.answer}}</ion-label>
                    </ion-item>
                  </ion-radio-group>
                  <br>
                  <ion-label>14. 세상에 홀로 있는 듯한 외로움을 느꼈다.</ion-label><br><br>
                  <ion-radio-group>
                    <ion-item *ngFor="let entry of ansList01">
                      <ion-radio slot="start" (click)="fnSelect(entry.value, 13)"></ion-radio>
                      <ion-label class="radiLabel">{{entry.answer}}</ion-label>
                    </ion-item>
                  </ion-radio-group>
                  <br>
                  <ion-label>15. 큰 불만 없이 생활했다.</ion-label><br><br>
                  <ion-radio-group>
                    <ion-item *ngFor="let entry of ansList02">
                      <ion-radio slot="start" (click)="fnSelect(entry.value, 14)"></ion-radio>
                      <ion-label class="radiLabel">{{entry.answer}}</ion-label>
                    </ion-item>
                  </ion-radio-group>
                  <br>
                  <ion-label>16. 사람들이 나에게 차갑게 대하는 것 같았다.</ion-label><br><br>
                  <ion-radio-group>
                    <ion-item *ngFor="let entry of ansList01">
                      <ion-radio slot="start" (click)="fnSelect(entry.value, 15)"></ion-radio>
                      <ion-label class="radiLabel">{{entry.answer}}</ion-label>
                    </ion-item>
                  </ion-radio-group>
                  <br>
                  <ion-label>17. 갑자기 울음이 나왔다.</ion-label><br><br>
                  <ion-radio-group>
                    <ion-item *ngFor="let entry of ansList01">
                      <ion-radio slot="start" (click)="fnSelect(entry.value, 16)"></ion-radio>
                      <ion-label class="radiLabel">{{entry.answer}}</ion-label>
                    </ion-item>
                  </ion-radio-group>
                  <br>
                  <ion-label>18. 마음이 슬펐다.</ion-label><br><br>
                  <ion-radio-group>
                    <ion-item *ngFor="let entry of ansList01">
                      <ion-radio slot="start" (click)="fnSelect(entry.value, 17)"></ion-radio>
                      <ion-label class="radiLabel">{{entry.answer}}</ion-label>
                    </ion-item>
                  </ion-radio-group>
                  <br>
                  <ion-label>19. 사람들이 나를 싫어하는 것 같았다.</ion-label><br><br>
                  <ion-radio-group>
                    <ion-item *ngFor="let entry of ansList01">
                      <ion-radio slot="start" (click)="fnSelect(entry.value, 18)"></ion-radio>
                      <ion-label class="radiLabel">{{entry.answer}}</ion-label>
                    </ion-item>
                  </ion-radio-group>
                  <br>
                  <ion-label>20. 도무지 뭘 해 나갈 엄두가 나지 않았다.</ion-label><br><br>
                  <ion-radio-group>
                    <ion-item *ngFor="let entry of ansList01">
                      <ion-radio slot="start" (click)="fnSelect(entry.value, 19)"></ion-radio>
                      <ion-label class="radiLabel">{{entry.answer}}</ion-label>
                    </ion-item>
                  </ion-radio-group>
                  
            </ion-list>
            <br><span style='font-size: 0.8rem;'>출처 :우울 척도(CES-D)평가</span>
            <ion-button slot="end" (click)="fnDepSum()">총 점수 계산하기</ion-button>
        
        
            <ion-fab  horizontal="end">
              <!-- <ion-fab-button (click)="goTop()">
                <ion-icon name="arrow-up-outline">최상단으로 이동</ion-icon>
              </ion-fab-button> -->
            </ion-fab>
        </div>
      </div>
      <!-- <ion-button expand="block" class="grbtn" (click)="slidenext()">
        다음
      </ion-button> -->
    </ion-slide>
  </ion-slides>
</ion-content>