ion-content {
    div {
      padding: 40px 24px 20px;
      font-size: 1rem;
      font-weight: 400;
      color: #333333;
      white-space: pre-wrap;
    }
  }
  
  ion-button {
    padding-right: 16px;
  }
  
  #headerInner{
    background-color: #8842E5;
  }