
  .slideWrap {
    height: 90%;
    width: 90%;
    text-align: start;
    margin: 0 auto;
    margin-top:13%;

    h2 {
      font-size: 1rem;
      font-weight: 600;
      color: #222222;
      text-align: left;
      margin-left: 20px;
    }
    #lineLabel{
      border-bottom: solid 1px #5926C5;
      width: 90%;
      margin: 0 auto;
    }

    span {
      display: block;
      font-size: 1rem;
      //font-weight: 600;
      line-height: 1.863rem;
      letter-spacing: -0.4px;
      //text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
      text-align: left;
      color: #555555;
      .break {
        min-height: 1.563rem;
      }

      .highlight{
        color: #EA5815;
        display: contents;
        font-weight: bold;
      }
    }
    
  }

  .step::before {
    position: absolute;
    border-radius: 50%;
    content: '';
    display: block;
    width: 42px;
    height: 42px;
    background: #fff;
  }

  
  .grbtn {
    width: calc(100% - 26px - 26px);
    margin: 0 auto;
  }
  
  .sW1{
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 20px;
    padding-top: 5%;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.5);
    background-color: #fff;
    overflow: auto;
  }
  
  ion-content{
    --background : none;
  }
  
  @media (max-height: 670px) {
  
    .grbtn {
      height: 3.125rem !important;
      margin-top:70%;
    }
  }

    .divBody{
        height: 100%;
        padding: 5%;
        text-align: center;
        overflow: auto;
    }

    h3{
        font-size: 1.2rem !important;
    }

    h6{
        text-align: left;
        margin-left: 20%;
    }


.tableResult{
  width: 85%;
  height: 50px;
  margin:0 auto;
  margin-top: 30px;

  tr:first-child{
    td{
      text-align: left;
    }
  }


  .graph{
    background:url(../../../assets/imgs/addimgs/graph.png);
    height:20px;
    background-size:cover;
    background-repeat:round;
    position:relative;
    top:10px;
    z-index:0;
  }

  ion-radio-group:nth-child(2){
    position:relative;
    top:-15px;
    z-index:1;
  }

  td{
    width: 1%;
  }
}

.radio-checked{
  width: 35px;
  height: 25px;
  background:url(../../../assets/imgs/addimgs/planet.png);
  background-size:cover;
  z-index: 2;
  border-style:hidden;
}


ion-radio-group{
  vertical-align: middle;
}