<ion-header>
  <div id="headerInner">
    <ion-toolbar>
      <ion-title>설문지 결과</ion-title>
    </ion-toolbar>

  </div>
</ion-header>

<ion-content>
       <div class="slideWrap">
        <div class="sW1">
          <div class="divBody">
            <h2>
              {{ title }} 설문지 결과 내용
            </h2>
            <div id='lineLabel'></div>
            <div *ngIf='title == "우울증"'>
                <table class='tableResult' >
                  <tr>
                    <ion-radio-group [(ngModel)]='radioResult'>
                      <td>
                          0
                      </td>
                      <td>
                          15
                      </td>
                      <td>
                          20
                      </td>
                      <td>
                          25
                      </td>
                    </ion-radio-group>
                  </tr>
                  <tr>
                    <div class='graph'></div>
                    <ion-radio-group [(ngModel)]='radioResult'>
                      <td>
                          <ion-radio  value="r1"></ion-radio>
                      </td>
                      <td>
                          <ion-radio slot="start" value="r2"></ion-radio>
                      </td>
                      <td>
                          <ion-radio slot="start" value="r3"></ion-radio>
                      </td>
                      <td>
                          <ion-radio slot="start" value="r4"></ion-radio>
                      </td>
                    </ion-radio-group>
                  </tr>
                  <tr>
                    <ion-radio-group>
                      <td>
                        양호
                      </td>
                      <td>
                        보통
                      </td>
                      <td>
                        심함
                      </td>
                      <td>
                        매우<br>심함
                      </td>
                    </ion-radio-group>
                  </tr>
                </table>
                <h2>
                  자세한 결과 내용
                </h2>
                <div id='lineLabel'></div>
                <span style='color:#000;'>
                  &nbsp;당신의 우울 척도 검진결과는 ( {{ sum }} ) 점 입니다.
                  결과는 ( {{ result }} ) 으로 판단됩니다.<br><br>
                  &nbsp;척도지 점수 및 결과, 검진기준, 그래프(검진기준 표시), 인터넷 자가검진은 간이검사이므로 진단을 대신할 수 없습니다.
                  보다 자세한 사항은 정신보건전문요원 또는 전문의의 상담이 필요합니다.
                </span><br>
                <span>
                  &nbsp;먼저 자가 치료 할 수 있도록 관리방안을 참고 해보세요.
                  <br><br><span style='font-size: 0.5rem;text-align: right;'>출처 :우울 척도(CES-D)평가</span>
                </span>
            </div>
            <div *ngIf='title == "스트레스"'>
              <table class='tableResult' >
                <tr>
                  <ion-radio-group [(ngModel)]='radioResult'>
                    <td>
                        0
                    </td>
                    <td>
                        25
                    </td>
                    <td>
                        50
                    </td>
                  </ion-radio-group>
                </tr>
                <tr>
                  <div class='graph'></div>
                  <ion-radio-group [(ngModel)]='radioResult'>
                    <td>
                        <ion-radio slot="start" value="r2"></ion-radio><br>
                    </td>
                    <td>
                        <ion-radio slot="start" value="r3"></ion-radio><br>
                    </td>
                    <td>
                        <ion-radio slot="start" value="r4"></ion-radio><br>
                    </td>
                  </ion-radio-group>
                </tr>
                <tr>
                  <ion-radio-group>
                    <td>
                      양호
                    </td>
                    <td>
                      보통
                    </td>
                    <td>
                      심각
                    </td>
                  </ion-radio-group>
                </tr>
              </table>
              <h2>
                자세한 결과 내용
              </h2>
              <div id='lineLabel'></div>
                <span style='color:#000;'>
                  &nbsp;직무스트레스검사 결과 당신의 점수는( {{ sum }} ) 점 입니다.<br>
                  결과는 ( {{ result }} ) 으로 판단됩니다.<br><br>
                </span>
                <span>  
                  ※ 각 번호에 선택한 점수의 합(총점)이 남자는 50.8점, 여자는 51.2점이상이면 전문가와 상담이 필요합니다.
                </span>
                <br><br><span style='font-size: 0.5rem;text-align: right;'>출처 :한국직무스트레스학회(2004), 한국판 직무스트레스검사 (우종민, 인제대학교)</span>
            </div>
            <h2>
              관리 방안
            </h2>
            <div id='lineLabel'></div>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <img src='../../../assets/imgs/addimgs/mountain.jpg'>
                </ion-col>
              </ion-row>  
              <ion-row>
                <ion-col>
                  <img src='../../../assets/imgs/addimgs/yoga.jpg'>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <img src='../../../assets/imgs/addimgs/read.jpg'>
                </ion-col>
              </ion-row>  
              <ion-row>  
                <ion-col>
                  <img src='../../../assets/imgs/addimgs/run.jpg'>
                </ion-col>
              </ion-row>
            </ion-grid>
            <div>
          </div>
          <!-- <ion-button slot="end" (click)="goHome()">홈으로</ion-button> -->
        </div>
        </div>
      </div>
      <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
      <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>
</ion-content>