<ion-header>
  <div id="headerInner">
    <ion-toolbar>
      <ion-buttons class="back" slot="start">
        <ion-back-button text="" icon=""></ion-back-button>
      </ion-buttons>
      <ion-title>스트레스 설문지 검사</ion-title>
    </ion-toolbar>
  </div>
</ion-header>

<ion-content>
  <ion-slides>
    <ion-slide>
      <div class="slideWrap">
        <div class="sW1">
          <ion-list>
            <ion-label id = "top">1.근무 장소가 깨끗하고 쾌적하다.</ion-label><br><br>
            <ion-radio-group>
              <ion-item *ngFor="let entry of ansList02">
                <ion-radio slot="start" (click)="fnSelect(entry.value, 0)"></ion-radio>
                <ion-label class="radiLabel">{{entry.answer}}</ion-label>
              </ion-item>
            </ion-radio-group>
            <br>
            <ion-label>2.내 일은 위험하며 사고를 당할 가능성이 있다.</ion-label><br><br>
            <ion-radio-group>
              <ion-item *ngFor="let entry of ansList01">
                <ion-radio slot="start" (click)="fnSelect(entry.value, 1)"></ion-radio>
                <ion-label class="radiLabel">{{entry.answer}}</ion-label>
              </ion-item>
            </ion-radio-group>
            <br>
            <ion-label>3.내 업무는 불편한 자세로 오랫동안 일을 해야 한다.	</ion-label><br><br>
            <ion-radio-group>
              <ion-item *ngFor="let entry of ansList01">
                <ion-radio slot="start" (click)="fnSelect(entry.value, 2)"></ion-radio>
                <ion-label class="radiLabel">{{entry.answer}}</ion-label>
              </ion-item>
            </ion-radio-group>
            <br>
            <ion-label>4. 나는 일이 많아 항상 시간에 쫓기며 일한다.</ion-label><br><br>
            <ion-radio-group>
              <ion-item *ngFor="let entry of ansList01">
                <ion-radio slot="start" (click)="fnSelect(entry.value, 3)"></ion-radio>
                <ion-label class="radiLabel">{{entry.answer}}</ion-label>
              </ion-item>
            </ion-radio-group>
            <br>
            <ion-label>5. 현재 하던일을 끝내기 전에 다른 일을 하도록 지시 받는다.</ion-label><br><br>
            <ion-radio-group>
              <ion-item *ngFor="let entry of ansList01">
                <ion-radio slot="start" (click)="fnSelect(entry.value, 4)"></ion-radio>
                <ion-label class="radiLabel">{{entry.answer}}</ion-label>
              </ion-item>
            </ion-radio-group>
            <br>
            <ion-label>6. 업무량이 현저하게 증가하였다.</ion-label><br><br>
            <ion-radio-group>
              <ion-item *ngFor="let entry of ansList01">
                <ion-radio slot="start" (click)="fnSelect(entry.value, 5)"></ion-radio>
                <ion-label class="radiLabel">{{entry.answer}}</ion-label>
              </ion-item>
            </ion-radio-group>
            <br>
            <ion-label>7. 나는 동료나 부하직원을 돌보고 책임져야할 부담을 안고 있다.</ion-label><br><br>
            <ion-radio-group>
              <ion-item *ngFor="let entry of ansList01">
                <ion-radio slot="start" (click)="fnSelect(entry.value, 6)"></ion-radio>
                <ion-label class="radiLabel">{{entry.answer}}</ion-label>
              </ion-item>
            </ion-radio-group>
            <br>
            <ion-label>8. 내 업무는 장시간 동안 집중력이 요구된다.</ion-label><br><br>
            <ion-radio-group>
              <ion-item *ngFor="let entry of ansList01">
                <ion-radio slot="start" (click)="fnSelect(entry.value, 7)"></ion-radio>
                <ion-label class="radiLabel">{{entry.answer}}</ion-label>
              </ion-item>
            </ion-radio-group>
            <br>
            <ion-label>9. 업무 수행중에 충분한 휴식(짬)이 주어진다.</ion-label><br><br>
            <ion-radio-group>
              <ion-item *ngFor="let entry of ansList02">
                <ion-radio slot="start" (click)="fnSelect(entry.value, 8)"></ion-radio>
                <ion-label class="radiLabel">{{entry.answer}}</ion-label>
              </ion-item>
            </ion-radio-group>
            <br>
            <ion-label>10. 일이 많아서 직장과 가정에 다 잘하기가 힘들다.</ion-label><br><br>
            <ion-radio-group>
              <ion-item *ngFor="let entry of ansList01">
                <ion-radio slot="start" (click)="fnSelect(entry.value, 9)"></ion-radio>
                <ion-label class="radiLabel">{{entry.answer}}</ion-label>
              </ion-item>
            </ion-radio-group>
            <br>
            <ion-label>11. 여러 가지 일을 동시에 해야 한다.	</ion-label><br><br>
            <ion-radio-group>
              <ion-item *ngFor="let entry of ansList01">
                <ion-radio slot="start" (click)="fnSelect(entry.value, 10)"></ion-radio>
                <ion-label class="radiLabel">{{entry.answer}}</ion-label>
              </ion-item>
            </ion-radio-group>
            <br>
            <ion-label>12. 내 업무는 창의력을 필요로 한다.</ion-label><br><br>
            <ion-radio-group>
              <ion-item *ngFor="let entry of ansList02">
                <ion-radio slot="start" (click)="fnSelect(entry.value, 11)"></ion-radio>
                <ion-label class="radiLabel">{{entry.answer}}</ion-label>
              </ion-item>
            </ion-radio-group>
            <br>
            <ion-label>13. 업무관련 사항(업무의 일정, 업무량, 회의시간 등)이 예고 없이 갑작스럽게 정해지거나 바뀐다.</ion-label><br><br>
            <ion-radio-group>
              <ion-item *ngFor="let entry of ansList01">
                <ion-radio slot="start" (click)="fnSelect(entry.value, 12)"></ion-radio>
                <ion-label class="radiLabel">{{entry.answer}}</ion-label>
              </ion-item>
            </ion-radio-group>
            <br>
            <ion-label>14. 내 업무를 수행하기 위해서는 높은 수준의 기술이나 지식이 필요하다.</ion-label><br><br>
            <ion-radio-group>
              <ion-item *ngFor="let entry of ansList02">
                <ion-radio slot="start" (click)="fnSelect(entry.value, 13)"></ion-radio>
                <ion-label class="radiLabel">{{entry.answer}}</ion-label>
              </ion-item>
            </ion-radio-group>
            <br>
            <ion-label>15. 작업시간, 업무수행과정에서 어떤 사안에 대해 결정할 권한이 주어지며 영향력을 행사할 수 있다.	</ion-label><br><br>
            <ion-radio-group>
              <ion-item *ngFor="let entry of ansList02">
                <ion-radio slot="start" (click)="fnSelect(entry.value, 14)"></ion-radio>
                <ion-label class="radiLabel">{{entry.answer}}</ion-label>
              </ion-item>
            </ion-radio-group>
            <br>
            <ion-label>16. 나의 업무량과 작업스케쥴을 스스로 조절할 수 있다.</ion-label><br><br>
            <ion-radio-group>
              <ion-item *ngFor="let entry of ansList02">
                <ion-radio slot="start" (click)="fnSelect(entry.value, 15)"></ion-radio>
                <ion-label class="radiLabel">{{entry.answer}}</ion-label>
              </ion-item>
            </ion-radio-group>
            <br>
            <ion-label>17. 나의 상사는 업무를 완료하는데 도움을 준다.</ion-label><br><br>
            <ion-radio-group>
              <ion-item *ngFor="let entry of ansList02">
                <ion-radio slot="start" (click)="fnSelect(entry.value, 16)"></ion-radio>
                <ion-label class="radiLabel">{{entry.answer}}</ion-label>
              </ion-item>
            </ion-radio-group>
            <br>
            <ion-label>18. 나의 동료는 업무를 완료하는데 도움을 준다.</ion-label><br><br>
            <ion-radio-group>
              <ion-item *ngFor="let entry of ansList02">
                <ion-radio slot="start" (click)="fnSelect(entry.value, 17)"></ion-radio>
                <ion-label class="radiLabel">{{entry.answer}}</ion-label>
              </ion-item>
            </ion-radio-group>
            <br>
            <ion-label>19. 직장에서 내가 힘들때 내가 힘들다는 것을 알아주고 이해해주는 사람이 있다.</ion-label><br><br>
            <ion-radio-group>
              <ion-item *ngFor="let entry of ansList02">
                <ion-radio slot="start" (click)="fnSelect(entry.value, 18)"></ion-radio>
                <ion-label class="radiLabel">{{entry.answer}}</ion-label>
              </ion-item>
            </ion-radio-group>
            <br>
            <ion-label>20. 직장생활의 고충을 함께 나눌 동료가 있다.</ion-label><br><br>
            <ion-radio-group>
              <ion-item *ngFor="let entry of ansList02">
                <ion-radio slot="start" (click)="fnSelect(entry.value, 19)"></ion-radio>
                <ion-label class="radiLabel">{{entry.answer}}</ion-label>
              </ion-item>
            </ion-radio-group>
            <br>
            <ion-label>21. 지금의 직장을 옮겨도 나에게 적합한 새로운 일을 쉽게 찾을 수 있다.</ion-label><br><br>
            <ion-radio-group>
              <ion-item *ngFor="let entry of ansList02">
                <ion-radio slot="start" (click)="fnSelect(entry.value, 20)"></ion-radio>
                <ion-label class="radiLabel">{{entry.answer}}</ion-label>
              </ion-item>
            </ion-radio-group>
            <br>
            <ion-label>22. 현재의 직장을 그만두어도 현재 수준의 직장(직업)을 쉽게 구할 수 있다.</ion-label><br><br>
            <ion-radio-group>
              <ion-item *ngFor="let entry of ansList02">
                <ion-radio slot="start" (click)="fnSelect(entry.value, 21)"></ion-radio>
                <ion-label class="radiLabel">{{entry.answer}}</ion-label>
              </ion-item>
            </ion-radio-group>
            <br>
            <ion-label>23. 직장사정이 불안하여 미래가 불확실하다.</ion-label><br><br>
            <ion-radio-group>
              <ion-item *ngFor="let entry of ansList01">
                <ion-radio slot="start" (click)="fnSelect(entry.value, 22)"></ion-radio>
                <ion-label class="radiLabel">{{entry.answer}}</ion-label>
              </ion-item>
            </ion-radio-group>
            <br>
            <ion-label>24. 나의 직업은 실직하거나 해고당할 염려가 없다.</ion-label><br><br>
            <ion-radio-group>
              <ion-item *ngFor="let entry of ansList02">
                <ion-radio slot="start" (click)="fnSelect(entry.value, 23)"></ion-radio>
                <ion-label class="radiLabel">{{entry.answer}}</ion-label>
              </ion-item>
            </ion-radio-group>
            <br>
            <ion-label>25. 앞으로 2년동안 현재의 내 직업을 잃을 가능성이 있다.</ion-label><br><br>
            <ion-radio-group>
              <ion-item *ngFor="let entry of ansList01">
                <ion-radio slot="start" (click)="fnSelect(entry.value, 24)"></ion-radio>
                <ion-label class="radiLabel">{{entry.answer}}</ion-label>
              </ion-item>
            </ion-radio-group>
            <br>
            <ion-label>26. 나의 근무조건이나 상황에 바람직하지 못한 변화<br>(예.구조조정) 가 있었거나 있을 것으로 예상된다.</ion-label><br><br>
            <ion-radio-group>
              <ion-item *ngFor="let entry of ansList01">
                <ion-radio slot="start" (click)="fnSelect(entry.value, 25)"></ion-radio>
                <ion-label class="radiLabel">{{entry.answer}}</ion-label>
              </ion-item>
            </ion-radio-group>
            <br>
            <ion-label>27. 우리 회사는 근무평가나 승진, 부서배치 등 인사제도가 공정하고 합리적이다.</ion-label><br><br>
            <ion-radio-group>
              <ion-item *ngFor="let entry of ansList02">
                <ion-radio slot="start" (click)="fnSelect(entry.value, 26)"></ion-radio>
                <ion-label class="radiLabel">{{entry.answer}}</ion-label>
              </ion-item>
            </ion-radio-group>
            <br>
            <ion-label>28. 업무수행에 필요한 인원 공간 시설 장비 훈련 등의 지원이 잘 이루어지고 있다.</ion-label><br><br>
            <ion-radio-group>
              <ion-item *ngFor="let entry of ansList02">
                <ion-radio slot="start" (click)="fnSelect(entry.value, 27)"></ion-radio>
                <ion-label class="radiLabel">{{entry.answer}}</ion-label>
              </ion-item>
            </ion-radio-group>
            <br>
            <ion-label>29. 우리 부서와 타 부서간에는 마찰이 없고 업무협조가 잘 이루어 진다.</ion-label><br><br>
            <ion-radio-group>
              <ion-item *ngFor="let entry of ansList02">
                <ion-radio slot="start" (click)="fnSelect(entry.value, 28)"></ion-radio>
                <ion-label class="radiLabel">{{entry.answer}}</ion-label>
              </ion-item>
            </ion-radio-group>
            <br>
            <ion-label>30. 근로자, 간부, 경영주 모두가 직장을 위해 한마음으로 일을 한다.</ion-label><br><br>
            <ion-radio-group>
              <ion-item *ngFor="let entry of ansList02">
                <ion-radio slot="start" (click)="fnSelect(entry.value, 29)"></ion-radio>
                <ion-label class="radiLabel">{{entry.answer}}</ion-label>
              </ion-item>
            </ion-radio-group>
            <br>
            <ion-label>31. 일에 대한 나의 생각을 반영할 수 있는 기회와 통로가 있다.</ion-label><br><br>
            <ion-radio-group>
              <ion-item *ngFor="let entry of ansList02">
                <ion-radio slot="start"(click)="fnSelect(entry.value, 30)"></ion-radio>
                <ion-label class="radiLabel">{{entry.answer}}</ion-label>
              </ion-item>
            </ion-radio-group>
            <br>
            <ion-label>32. 나의 경력개발과 승진을 무난히 잘 될 것으로 예상된다.</ion-label><br><br>
            <ion-radio-group>
              <ion-item *ngFor="let entry of ansList02">
                <ion-radio slot="start"(click)="fnSelect(entry.value, 31)"></ion-radio>
                <ion-label class="radiLabel">{{entry.answer}}</ion-label>
              </ion-item>
            </ion-radio-group>
            <br>
            <ion-label>33. 나의 현재 직위는 나의 교육 및 경력에 비추어볼 때 적절하다.</ion-label><br><br>
            <ion-radio-group>
              <ion-item *ngFor="let entry of ansList02">
                <ion-radio slot="start" (click)="fnSelect(entry.value, 32)"></ion-radio>
                <ion-label class="radiLabel">{{entry.answer}}</ion-label>
              </ion-item>
            </ion-radio-group>
            <br>
            <ion-label>34. 나의 직업은 내가 평소 기대했던 것에 미치지 못한다.</ion-label><br><br>
            <ion-radio-group>
              <ion-item *ngFor="let entry of ansList01">
                <ion-radio slot="start" (click)="fnSelect(entry.value, 33)"></ion-radio>
                <ion-label class="radiLabel">{{entry.answer}}</ion-label>
              </ion-item>
            </ion-radio-group>
            <br>
            <ion-label>35. 나의 모든 노력과 업적을 고려할 때, 내 봉급/수입은 적절하다.</ion-label><br><br>
            <ion-radio-group>
              <ion-item *ngFor="let entry of ansList02">
                <ion-radio slot="start" (click)="fnSelect(entry.value, 34)"></ion-radio>
                <ion-label class="radiLabel">{{entry.answer}}</ion-label>
              </ion-item>
            </ion-radio-group>
            <br>
            <ion-label>36. 나의 모든 노력과 업적을 고려할 때, 나는 직장에서 제대로 존중과 신임을 받고 있다.</ion-label><br><br>
            <ion-radio-group>
              <ion-item *ngFor="let entry of ansList02">
                <ion-radio slot="start" (click)="fnSelect(entry.value, 35)"></ion-radio>
                <ion-label class="radiLabel">{{entry.answer}}</ion-label>
              </ion-item>
            </ion-radio-group>
            <br>
            <ion-label>37. 나는 지금 하는 일에 흥미를 느낀다.</ion-label><br><br>
            <ion-radio-group>
              <ion-item *ngFor="let entry of ansList02">
                <ion-radio slot="start"  (click)="fnSelect(entry.value, 36)"></ion-radio>
                <ion-label class="radiLabel">{{entry.answer}}</ion-label>
              </ion-item>
            </ion-radio-group>
            <br>
            <ion-label>38. 내 사정이 앞으로 더 좋아질 것을 생각하면 힘든 줄 모르고 일 하게 된다.</ion-label><br><br>
            <ion-radio-group>
              <ion-item *ngFor="let entry of ansList02">
                <ion-radio slot="start" (click)="fnSelect(entry.value, 37)"></ion-radio>
                <ion-label class="radiLabel">{{entry.answer}}</ion-label>
              </ion-item>
            </ion-radio-group>
            <br>
            <ion-label>39. 나의 능력을 개발하고 발휘할 수 있는 기회가 주어진다.</ion-label><br><br>
            <ion-radio-group>
              <ion-item *ngFor="let entry of ansList02">
                <ion-radio slot="start" (click)="fnSelect(entry.value, 38)"></ion-radio>
                <ion-label class="radiLabel">{{entry.answer}}</ion-label>
              </ion-item>
            </ion-radio-group>
            <br>
            <ion-label>40. 회식 자리가 불편하다.</ion-label><br><br>
            <ion-radio-group>
              <ion-item *ngFor="let entry of ansList01">
                <ion-radio slot="start" (click)="fnSelect(entry.value, 39)"></ion-radio>
                <ion-label class="radiLabel">{{entry.answer}}</ion-label>
              </ion-item>
            </ion-radio-group>
            <br>
            <ion-label>41. 나는 기준이나 일관성이 없는 상태로 업무지시를 받는다.</ion-label><br><br>
            <ion-radio-group>
              <ion-item *ngFor="let entry of ansList01">
                <ion-radio slot="start" (click)="fnSelect(entry.value, 40)"></ion-radio>
                <ion-label class="radiLabel">{{entry.answer}}</ion-label>
              </ion-item>
            </ion-radio-group>
            <br>
            <ion-label>42. 직장의 분위기가 권위적이고 수직적이다.</ion-label><br><br>
            <ion-radio-group>
              <ion-item *ngFor="let entry of ansList01">
                <ion-radio slot="start" (click)="fnSelect(entry.value, 41)"></ion-radio>
                <ion-label class="radiLabel">{{entry.answer}}</ion-label>
              </ion-item>
            </ion-radio-group>
            <br>
            <ion-label>43. 남성, 여성이라는 성적인 차이 때문에 불이익을 받는다.</ion-label><br><br>
            <ion-radio-group>
              <ion-item *ngFor="let entry of ansList01">
                <ion-radio slot="start" (click)="fnSelect(entry.value, 42)"></ion-radio>
                <ion-label class="radiLabel">{{entry.answer}}</ion-label>
              </ion-item>
            </ion-radio-group>
            <br><span>출처 :한국직무스트레스학회(2004), 한국판 직무스트레스검사 (우종민, 인제대학교)</span>
      </ion-list>
            <ion-button slot="end" (click)="fnStsSum()">총 점수 계산하기</ion-button>
        
        
            <ion-fab  horizontal="end">
              <!-- <ion-fab-button (click)="goTop()">
                <ion-icon name="arrow-up-outline">최상단으로 이동</ion-icon>
              </ion-fab-button> -->
            </ion-fab>
        </div>
      </div>
      <!-- <ion-button expand="block" class="grbtn" (click)="slidenext()">
        다음
      </ion-button> -->
    </ion-slide>
  </ion-slides>
</ion-content>