/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import '~@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

@font-face {
  font-family: 'NotoSansKR-Regular';
  src: url('./assets/font/NotoSansKR-Regular.ttf') format('truetype');
  font-style: normal;
}

//폰트
html,
body {
  font-size: 16px;
}

@media screen and (max-width: 360px) {
  html,
  body {
    font-size: 12px;
  }
}

@media screen and (max-width: 300px) {
  html,
  body {
    font-size: 12px;
  }
}

@media screen and (max-width: 200px) {
  html,
  body {
    font-size: 12px;
  }
}

.header-ios ion-toolbar:last-of-type {
  --border-width: 0;
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 3.25rem;
  left: 0;
  height: 0.375rem;
  width: 100%;
  //display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0;
  margin-right: 0.5rem;
}

.swiper-pagination-bullet {
  width: 6px;
  height: 6px;
}

.swiper-pagination-bullet-active {
  background: #5926C5 !important;
}

.swiper-pagination-bullet {
  background: #DBDBDB;
  opacity: 1;
}

#headerInner {
  display: flex;
  align-items: center;
  justify-content: center;
  //background: url(./assets/imgs/bg.png) no-repeat;
  //   background: linear-gradient(141deg, rgba(41, 171, 226, 1) 0%, rgba(42, 85, 191, 1) 100%);
  //background-size: cover;
  //background-position: center;
  height: 100%;

  ion-buttons {
    padding: 0 42px;
  }

  .back {
    padding: 0 16px !important;
  }

  ion-button {
    --padding-start: 0;
    --padding-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-size: 1rem;
    font-weight: 500;
    // position: absolute;
    // right: 13px;
    --border-radius: 0;
    // color: rgba(0,0,0,.38);
    img {
      width: 24px;
      height: 24px;
    }
  }

  ion-title {
    font-size: 19px;
  }
}

ion-toolbar {
  --padding-top: 0;
  --padding-bottom: 0;
  --padding-start: 0;
  --padding-end: 0;
  --background: transparent;
  --color: #fff;
  --min-height: 56px;
}

app-home {
  .swiper-pagination-fraction,
  .swiper-pagination-custom,
  .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 32px;
  }
}

.alert-wrapper.sc-ion-alert-ios {
  border-radius: 15px;
  // width: 76.26%;
  // min-width: 76.26%;
  // max-width: 76.26%;

  //width: 80.26%;
  //min-width: 80.26%;
  max-width: 80.26%;
}

.alert-head.sc-ion-alert-ios {
  padding-inline-start: 0;
  padding-inline-end: 0;
  padding-top: 1.625rem;
  padding-bottom: 1.188rem;
  color: #333;
  font-weight: 600;
  font-size: 0.9375rem;
  border-bottom: solid 2px #5926C5;
  margin: 15px auto;
}

.alert-message.sc-ion-alert-ios {
  padding-inline-start: 2.063rem;
  padding-inline-end: 2.063rem;
  padding-bottom: 2.125rem;
  color: #333;
  font-weight: 400;
  font-size: 0.9375rem;
  white-space: pre-line;
  margin-bottom: 0.625rem;
}

.alert-button.sc-ion-alert-ios {
  border-top: 1px solid #ececec;
  border-right: 1px solid #ececec;
  height: 3.125rem;
  color: #333333;
  font-size: 0.9375rem;
  font-weight: 600;
}

.alert-button.ion-activated {
  color: #fff;
}

.alert-button.ion-activated.sc-ion-alert-ios{
  background-color: #5926C5 !important;
}

ion-back-button {
  background: url(./assets/imgs/nav_back.png) no-repeat;
  background-size: 24px;
  background-position: center;
  width: 24px;
  height: 24px;
}

//

.sc-ion-input-ios-h {
  border-bottom: 1px solid #FFFFFF;
  //border-radius: 4px;
  --padding-top: 10px;
  --padding-end: 10px;
  --padding-bottom: 10px;
  --padding-start: 10px;
  font-size: 1.12rem;
  font-weight: 800;
  color: #333333;
  --placeholder-color: #AAAAAA;
  --placeholder-opacity: 1;
}

.sc-ion-input-ios-h.has-focus {
  border-bottom: 1px solid #FFFFFF;
//  border: 1px solid #2a55bf;
}


.reGrbtn {
  --border-radius: 30px;
  --background : #fff;
  --background-activated : #fff;
  --background-focused: center / cover no-repeat url(./assets/imgs/bg.png);
  --background-hover: center / cover no-repeat url(./assets/imgs/bg.png);
  //--background: center / cover no-repeat url(./assets/imgs/bg.png);
  //--background-activated: center / cover no-repeat url(./assets/imgs/bg.png);
  //background: center / cover no-repeat url(./assets/imgs/bg.png);
  //border-radius: 4px;
  --color: #5926C5;
  font-size: 1.2rem;
  font-weight: 600;
  height: 40px;
  margin: 0;
}

.reGrbtn.ion-activated {
  opacity: 0.9;
}

.grbtn {
  --border-radius: 30px;
  --background : #5926C5;
  --background-activated :linear-gradient(to right, #5926C5, #8842E5);
  --background-focused: center / cover no-repeat url(./assets/imgs/bg.png);
  --background-hover: center / cover no-repeat url(./assets/imgs/bg.png);
  //--background: center / cover no-repeat url(./assets/imgs/bg.png);
  //--background-activated: center / cover no-repeat url(./assets/imgs/bg.png);
  //background: center / cover no-repeat url(./assets/imgs/bg.png);
  //border-radius: 4px;
  --color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  height: 40px;
  margin: 0;
}

.grbtn.ion-activated {
  opacity: 0.9;
  color:#fff;
}

//
.resetpassword {
  .alert-message.sc-ion-alert-ios {
    padding: 0 19px;
    font-size: 0.9rem;
    color: #3a3a3a;
  }

  .alert-title.sc-ion-alert-ios {
    margin-top: 0;
  }

  .alert-head.sc-ion-alert-ios {
    padding-bottom: 1.25rem;
  }

  .alert-message.sc-ion-alert-ios,
  .alert-input-group.sc-ion-alert-ios {
    padding-inline-start: 1.25rem;
    padding-inline-end: 1.25rem;
  }

  .alert-input.sc-ion-alert-ios {
    margin-top: 0.8125rem;
    padding: 1rem 1rem 0.9375rem 1.375rem;
    border: 1px solid #d4d4d4;
    font-size: 0.9375rem;
    font-weight: 600;
  }
}
[disabled] {
  --background: #d1d1d1;
}

.yearcustom {
  .alert-head.sc-ion-alert-ios {
    padding: 0;
  }

  .alert-message.sc-ion-alert-ios:empty {
    padding: 0;
  }

  .alert-radio-group.sc-ion-alert-ios,
  .alert-checkbox-group.sc-ion-alert-ios {
    border-top: 0;
  }

  [aria-checked='true'].sc-ion-alert-ios .alert-radio-inner.sc-ion-alert-ios {
    border-color: #5926C5;
  }

  [aria-checked='true'].sc-ion-alert-ios .alert-radio-label.sc-ion-alert-ios {
    color: #5926C5;
  }
}

ion-item {
  --min-height: auto;
  --padding-start: 0;
  --inner-padding-end: 0;
  --inner-border-width: 0;
  --background: transparent;
  --background-activated: transparent;
  --background-focused: transparent;
  --background-hover: transparent;
  --background-activated-opacity: 0.12;
  --background-focused-opacity: 0.15;
  --background-hover-opacity: 0.04;
  --border-color: transparent;
}

.validate {
  display: block;
  letter-spacing: -0.2px;
  color: #ff631b;
  font-size: 1rem;
  font-weight: 600;
  margin-top: -0.625rem;
  margin-bottom: 1rem;
}

.al {
  .alert-title.sc-ion-alert-ios {
    margin-top: 0px;
  }
  .alert-head.sc-ion-alert-ios {
    padding-bottom: 1.438rem;
  }

  .alert-message.sc-ion-alert-ios {
    padding-bottom: 1.438rem;
  }
}

app-home-add-mypage-result {
  .swiper-pagination-fraction,
  .swiper-pagination-custom,
  .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 1rem;
  }

  .swiper-pagination-bullet-active {
    background: #5926C5  !important;
  }

  .swiper-pagination-bullet {
    background: #e1e1e1;
    opacity: 1;
  }
}

app-home-add-howto-img {
  .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 1px;
  }

  .swiper-pagination-bullet {
    background: #d4d4d4;
    opacity: 1;
  }
}

.cam {
  .action-sheet-title.sc-ion-action-sheet-ios {
    color: #2b5bc4;
    font-size: 1rem;
    font-weight: 600;
  }

  .action-sheet-button.sc-ion-action-sheet-ios {
    color: #333333;
    font-size: 1rem;
    font-weight: 600;
  }

  .action-sheet-button.sc-ion-action-sheet-ios.ion-activated {
    color: #2a55bf;
  }
}
.alert-sub-title.sc-ion-alert-ios {
  white-space: pre-line;
  padding: 0 1.5rem;
  font-size: 0.75rem;
  color: #3a3a3a;
}
.alert-message.sc-ion-alert-ios:empty {
  padding: 0;
}

.allWrap {
  // height: calc(100vh - 56px);
  height: calc(100vh - 118px);
}
.alert-sub-title.sc-ion-alert-ios {
  margin-top: 20px;
  font-size: 0.75rem;
  color: #3a3a3a;
}

.alert-message.sc-ion-alert-ios {
  // padding: 0 19px;
  font-size: 0.9rem;
  color: #3a3a3a;
}

.cdbtn.ios.button.button-solid.ion-activatable.ion-focusable.hydrated.ion-activated{
  --background-activated: linear-gradient(to right, #5926C5, #8842E5);
  color: #fff;
}

.alert-radio-label.sc-ion-alert-ios{
  text-align: center;
}