ion-content{
    --background: none;
}

.listT {
    --padding-start: 1.563rem;
    --padding-end: 1.563rem;
    --padding-top: 1.063rem;
    --padding-bottom: 1.063rem;
    background-color:#fff;
    border-radius:10px;
    margin: 30px 10px 0 10px;
  

  
    span {
      font-size: 0.9rem;
      font-weight: 600;
      color: #333333;
      letter-spacing: -0.4px;
      margin: 0 auto;
    }
  }

  h4 {
    margin: 32% 32% 0 0;
    font-size: 1rem;
    color: #333333;
    font-weight: 600;
    letter-spacing: -0.4px;
    text-align: center;
    font-size:large
  }
ion-card{
  height: 150px;
  margin: 5px !important;
}  

ion-card-header{
    text-align: left;
}

ion-list{
background: none;
margin: 25px 0 20px 0;
}

.cardDiv{
margin: 0 auto;
text-align: center;
}

.divPurple{
    background-color: #F1EFF8;
    width: 95%;
    margin: 0 auto;
    border-radius: 30px;
  }
  
  ion-datetime{
    word-spacing: -5px;
  }

  .dtFirst{
    width: auto;
    text-align: center;
    position: relative;
    top:-20px;
    --padding-start:0 !important;
  }

  .dtSecon{
    text-align: center;
  }

  @media(max-width:760px){
    ion-card{
      width: 320px;
    }
  }

  @media(min-width:760px){
    ion-card{
      width: 700px;
    }
  }

  .vLine{
    border-left: solid 1px #5926C5;
    height: 120px;
    position: absolute;
    left: 30%;
    margin-left: -3px;
    top:10%;
  }

  ion-grid{
    font-weight: 600;
  }

  .label{
    text-align: left;
    position: relative;
    top: 10px;
    left: -20px;
  }

  .result{
    width: 100%;
    height: 100%;
    position: relative;
    text-align: left;
    top: -20px;
    left: -20px;
  }

  .pdfBtn{
    margin-left: 70%;
    position: fixed;
    bottom: 1px;
  }

  table{
    td:first-child{
      width: 30%;
      font-weight: bold;
    }
    td:last-child{
      width: 60%;
    }

  }