<ion-header>
  <ion-toolbar>
    <ion-buttons class="back" slot="start">
      <ion-back-button defaultHref="/tabs/home-add-mypage" text="" icon=""></ion-back-button>
    </ion-buttons>
    <ion-title>설문지검사목록</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="user$ | async as user">
  <div *ngIf="surveyList$|async as list">
    <ion-list>
      <ion-item class="listT">
        <span>
          {{ user.nickname }}님 {{list.length}}번 검사 내역입니다.
        </span>
      </ion-item>

      <div *ngFor="let item of list; let i = index">
        <ion-item>
          <div class='cardDiv'>
              <ion-card class="ionCard">
                <table>
                  <tr style='height: 120px;'>
                    <td>
                      <div>{{item.kind}}</div>
                    </td>
                    <div class='vLine'></div>
                    <td>
                      <div class='label'>검사일: </div>
                      <ion-datetime class='dtFirst' displayFormat='YYYY년MM월DD일' value='{{item.created}}' readonly></ion-datetime>
                      <div class='result'>당신의 {{item.kind}} 설문지 결과는 {{item.sum}}점입니다. 결과는 ( {{ item.result }} ) 으로 판단됩니다.</div>
                    </td>
                  </tr>
                  <tr>
                    <div class='pdfBtn' *ngIf='item.pdfUrl'>
                      <ion-button>PDF다운</ion-button>
                    </div>
                  </tr>
                </table>
              </ion-card>
            </div>
        </ion-item>
      </div>

    </ion-list>
  </div>
</div>
</ion-content>
