
  .slideWrap {
    height: 83%;
    width: 90%;
    text-align: start;
    margin: 0 auto;
    margin-top:13%;

    h2 {
      margin: 0;
      font-size: 1.375rem;
      font-weight: 600;
      color: #222222;
      //text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
      margin-bottom: 7.77%;
      
      #lineLabel{
        border-bottom: solid 2px #5926C5;
        width: 50%;
        margin: 15px auto;
      }
    }

    span {
      display: block;
      font-size: 1rem;
      //font-weight: 600;
      line-height: 1.863rem;
      letter-spacing: -0.4px;
      //text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
      color: #555555;
      .break {
        min-height: 1.563rem;
      }

      .highlight{
        color: #EA5815;
        display: contents;
        font-weight: bold;
      }
    }
    
  }

  .step::before {
    position: absolute;
    border-radius: 50%;
    content: '';
    display: block;
    width: 42px;
    height: 42px;
    background: #fff;
  }

  
  .grbtn {
    width: calc(100% - 26px - 26px);
    margin: 0 auto;
  }
  
  .sW1{
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 20px;
    padding-top: 12.44%;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.5);
    background-color: #fff;
  }
  
  ion-content{
    --background : none;
  }
  
  @media (max-height: 670px) {
  
    .grbtn {
      height: 3.125rem !important;
      margin-top:70%;
    }
  }

  
  @media (min-height: 812px) {
  
    .grbtn {
      height: 3.125rem !important;
      margin-top:65%;
    }
  }
  
  @media (min-height: 1024px) {
  
    .grbtn {
      height: 3.125rem !important;
      margin-top:55%;
    }
  }
  

    ion-button.ion-activated {
        opacity: 0.9;
    }

    .divBody{
        height: 100%;
        padding: 5%;
        text-align: center;
        overflow: auto;
    }

    h3{
        font-size: 1.2rem !important;
    }

    h6{
        text-align: left;
        margin-left: 20%;
    }

ion-item{
  border:1px solid #5926C5;
  margin: 10px;
  padding-left: 20%;

}

.grbtn{
  width: 95%;
  height: 45px !important;
  --background : #5926C5 !important;
  color: #fff;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  --border-radius:5px;
  margin-top:auto;

}

ion-icon{
  width:24px;
  height:24px;
}