<ion-header>
  <div id="headerInner">
    <ion-toolbar>
      <ion-buttons class="back" slot="start" (click)='goBack()'>
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-buttons>
      <ion-title>검사 결제</ion-title>
    </ion-toolbar>

  </div>
</ion-header>

<ion-content>
      <div class="slideWrap">
        <div class="sW1">
          <div class="divBody">
            <h2>
              결제 수단 선택
              <div id='lineLabel'></div>
            </h2>
            <span>결제 수단을 선택하여 결제를<br> 진행하신 후<br>검사 진행이 가능합니다.(검사료 : 30,000원)</span><br>
                <ion-radio-group>
                <ion-item (click)='goPayment(false,"card")' >
                  <ion-radio slot="start"></ion-radio>
                  <ion-label class="radiLabel" >카드결제</ion-label>
                </ion-item>
                <ion-item (click)='goPayment(false,"transfer")' >
                  <ion-radio slot="start"></ion-radio>
                  <ion-label class="radiLabel" >계좌이체</ion-label>
                </ion-item>
                <ion-item (click)='goPayment(true,"nopassbook")'>
                  <ion-radio slot="start"></ion-radio>
                  <ion-label class="radiLabel">무통장입금</ion-label>
                </ion-item>
              </ion-radio-group>
            <div *ngIf="divHidden">
              <span>은행명 : 신한은행<br>
                  예금주 : (주)제이앤리<br>
                  계좌번호 : 100-034-687520</span>
            </div><br>
            <div>
          </div>
          <ion-button class="grbtn" style="margin-bottom: 10px;" (click)='goHome()'>확인</ion-button>
          <ion-button *ngIf='btnNext' class="grbtn" (click)='next()'>건너뛰기</ion-button>
        </div>
        </div>
      </div>
      <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
      <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>
</ion-content>